Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Don't hardcode primary color
  app/components/AppLayout.tsx
  app/components/AppMenu.tsx
  app/components/AppProgress.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/JournalEntry.tsx
  app/components/JournalEntryComments.tsx
  app/components/ResumePDFDownloadButton.tsx
  app/components/ResumeWorkSection.tsx
  app/components/UserLoginPageForm.tsx
  app/helpers/mantine.ts
  app/pages/HomePage.tsx
  app/pages/ResumePage.tsx
  app/pages/UserChangePasswordPage.tsx
  app/pages/UserLoginPage.tsx
  app/pages/UserRegisterPage.tsx
  app/pages/UserSendEmailVerificationInstructionsPage.tsx
  app/pages/UserSendPasswordResetInstructionsPage.tsx
  config/initializers/good_job.rb
Due: bin/fmt, bin/lint

Rename schema.graphql -> schema.generated.graphql
  .graphqlrc.yml
  .prettierignore
  app/graphql/schema.generated.graphql
  config/graphql-codegen.client.ts
  config/graphql-codegen.schema.ts
  lib/tasks/tapioca.rake
Due: bin/fmt, bin/lint

Reconfigure email validator
  config/initializers/email_validator.rb
  lib/email_validator_ext.rb
Due: bin/fmt, bin/lint

Nitpicks
  app/jobs/active_storage/blob_cleanup_job.rb
  app/jobs/application_job.rb
  app/jobs/obsidian_note_analysis_job.rb
  app/jobs/obsidian_note_analyze_job.rb
  app/jobs/obsidian_note_synchronization_job.rb
  app/jobs/obsidian_note_synchronize_job.rb
  app/jobs/obsidian_stub_cleanup_job.rb
Due: bin/fmt, bin/lint

Fix enumerize RBI generation
  sorbet/tapioca/compilers/enumerize.rb
  sorbet/tapioca/require.rb
Due: bin/fmt, bin/lint

Update fly.toml
  fly.toml
Due: none

Refactor usePreloadedQuery
  app/helpers/apollo/preloading.ts
  config/auto-import.ts
  typings/auto-import.generated.d.ts
Due: bin/fmt, bin/lint

Tighten up eslint
  .eslintrc.json
Due: bin/fmt

Upgrade dependencies
  app/graphql/types/query_type.rb
  package.json
Due: bin/fmt, bin/lint

Rename app from itskai-app to itskai
  README.md
  app/components/ActivityStatusBadge.tsx
  app/pages/WorkPage.tsx
  yarn.lock
Due: bin/fmt, bin/lint

Fix deps
  package.json
  yarn.lock
Due: bin/fmt

Upgrade even more deps
  Gemfile.lock
  package.json
  yarn.lock
Due: bin/fmt

Fix wrong commands in fly.rake [skip ci]
  lib/tasks/fly.rake
Due: none

Use canary deploys for zero-downtime
  fly.toml
Due: none

Minor refactors
  app/components/AppFlash.tsx
  app/concerns/logging.rb
  app/concerns/routing.rb
  app/graphql/subscriptions/test_subscription.rb
  app/helpers/mantine.ts
  app/helpers/notifications.tsx
  app/models/application_record.rb
  app/models/concerns/slugged.rb
  app/services/application_service.rb
Due: bin/fmt, bin/lint

Update RBIs
  bin/fmt
  bin/lint
  bin/setup
  extension/package.json
  extension/yarn.lock
  lint-staged.config.js
  package.json
  sorbet/rbi/gems/zeitwerk@2.6.8.rbi
Due: bin/fmt, bin/lint

Minor nitpicks
  .github/workflows/check.yml
  lib/rails_ext.rb
Due: bin/fmt, bin/lint

Update Rubocop config
  .prettierignore
  .rubocop.yml
Due: bin/fmt

Update typings
  .github/workflows/deploy.yml
  app/channels/application_cable/channel.rb
  app/concerns/graphql/helpers.rb
  app/controllers/application_controller.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/queries/base_query.rb
  app/graphql/sources/base_source.rb
  app/graphql/subscriptions/base_subscription.rb
  app/graphql/types/base_argument.rb
  app/graphql/types/base_connection.rb
  app/graphql/types/base_edge.rb
  app/graphql/types/base_enum.rb
  app/graphql/types/base_field.rb
  app/graphql/types/base_input_object.rb
  app/graphql/types/base_interface.rb
  app/graphql/types/base_object.rb
  app/graphql/types/base_scalar.rb
  app/graphql/types/base_union.rb
  app/models/application_model.rb
  app/models/application_record.rb
  app/models/user.rb
  app/policies/application_policy.rb
Due: bin/fmt, bin/lint

Update TODOs [skip ci]
  README.md
Due: bin/fmt

[extension] Set up linting and codegen
  .eslintrc.json
  .lintstagedrc.js
  app/helpers/types/ScottkitSignalType.tsx
  bin/lint
  extension/.eslintrc.json
  extension/.graphqlrc.yml
  extension/.lintstagedrc.js
  extension/config/auto-import.ts
  extension/config/graphql-codegen.ts
  extension/index.html
  extension/package.json
  extension/queries/.keep
  extension/queries/SyncCookiesMutation.graphql
  extension/schema.generated.graphql
  extension/src/App.tsx
  extension/src/helpers/graphql/index.ts
  extension/src/helpers/graphql/operations.generated.ts
  extension/src/helpers/graphql/types.generated.ts
  extension/tsconfig.json
  extension/tsconfig.node.json
  extension/typings/auto-import.generated.d.ts
  extension/vite.config.ts
  extension/yarn.lock
  itskai.code-workspace
  package.json
  tsconfig.json
  yarn.lock
Due: bin/fmt, bin/lint

Upgrade Mantine
  app/components/AppProgress.tsx
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Configure log level in config (not in initializer)
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/logger.rb
Due: bin/fmt, bin/lint

Handle missing home page journal entry
  app/components/HomePageJournalEntry.tsx
  app/graphql/queries/homepage_journal_entry.rb
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  config/graphql/schema.generated.graphql
Due: bin/fmt, bin/lint

Fix Obsidian note import & analysis logic
  app/components/HomePageJournalEntry.tsx
  app/components/JournalEntry.tsx
  app/components/NotionContent.tsx
  app/graphql/queries/homepage_journal_entry.rb
  app/graphql/types/journal_entry_type.rb
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/jobs/analyze_obsidian_note_job.rb
  app/jobs/analyze_obsidian_notes_job.rb
  app/jobs/cleanup_obsidian_stubs_job.rb
  app/jobs/download_journal_entry_job.rb
  app/jobs/import_journal_entry_job.rb
  app/jobs/import_obsidian_note_job.rb
  app/jobs/import_obsidian_notes_job.rb
  app/models/journal_entry.rb
  app/models/obsidian_note.rb
  app/models/obsidian_stub.rb
  app/queries/JournalEntryEntryFragment.graphql
  app/services/application_service.rb
  app/services/currently_playing_service.rb
  app/services/icloud_service.rb
  app/services/journal_service.rb
  app/services/obsidian_service.rb
  app/services/scottbot_service.rb
  app/services/spotify_service.rb
  config/graphql/schema.generated.graphql
  config/initializers/good_job.rb
  db/migrate/20230606030823_rename_blocks_to_content_on_journal_entries.rb
  db/migrate/20230606031536_non_nullable_imported_at_on_obsidian_notes.rb
  db/schema.rb
  sorbet/rbi/dsl/analyze_obsidian_notes_job.rbi
  sorbet/rbi/dsl/download_journal_entry_job.rbi
  sorbet/rbi/dsl/import_journal_entry_blocks_job.rbi
  sorbet/rbi/dsl/import_journal_entry_job.rbi
  sorbet/rbi/dsl/import_obsidian_notes_job.rbi
  sorbet/rbi/dsl/journal_entry.rbi
  sorbet/rbi/dsl/obsidian_note.rbi
Due: bin/fmt, bin/lint

[Sentry: ITSKAI-1B] Fix N+1 Query
  app/models/obsidian_note.rb
Due: bin/fmt, bin/lint

Nicer status messages
  app/jobs/import_journal_entries_job.rb
  app/jobs/import_obsidian_notes_job.rb
Due: bin/fmt, bin/lint

Minor refactors
  app/jobs/active_storage/cleanup_blobs_job.rb
  app/jobs/analyze_obsidian_note_job.rb
  app/jobs/analyze_obsidian_notes_job.rb
  app/jobs/application_job.rb
  app/jobs/cleanup_obsidian_stubs_job.rb
  app/jobs/download_journal_entry_job.rb
  app/jobs/import_journal_entries_job.rb
  app/jobs/import_journal_entry_job.rb
  app/jobs/import_obsidian_note_job.rb
  app/jobs/import_obsidian_notes_job.rb
  app/services/application_service.rb
Due: bin/fmt, bin/lint

Fix login routes
  .vscode/settings.json
  app/components/UserLoginPageForm.tsx
  config/routes.rb
Due: bin/fmt, bin/lint

Add avatar image upload
  Aptfile
  app/components/AvatarField.tsx
  app/components/HomePageContactLink.tsx
  app/components/UserSettingsPageProfileForm.tsx
  app/components/WorkContactButton.tsx
  app/entrypoints/application.ts
  app/graphql/mutations/update_user_profile.rb
  app/graphql/queries/image_by_signed_id.rb
  app/graphql/types/image_size_type.rb
  app/graphql/types/image_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/helpers/actioncable.ts
  app/helpers/activestorage.ts
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/apollo/clientLink.ts
  app/helpers/apollo/introspection.generated.ts
  app/helpers/contact.tsx
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/helpers/utils.ts
  app/models/user.rb
  app/pages/ObsidianNotePage.tsx
  app/queries/AvatarFieldQuery.graphql
  app/queries/UserSettingsPageViewerFragment.graphql
  app/views/layouts/application.html.erb
  config/auto-import.ts
  config/graphql/schema.generated.graphql
  config/initializers/good_job.rb
  extension/src/helpers/actioncable.ts
  extension/src/helpers/apollo/clientLink.ts
  package.json
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/user.rbi
  typings/auto-import.generated.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Run SSR when doing tests
  .github/workflows/check.yml
  Dockerfile
  Procfile.test
  bin/test
  config/initializers/services.rb
  lib/rails_ext.rb
  test/application_system_test_case.rb
Due: bin/fmt, bin/lint

Fix SSR error when importing ActiveStorage
  Dockerfile
  app/helpers/activestorage.ts
  app/models/user.rb
Due: bin/fmt, bin/lint

Load medium-sized avatars in AvatarField and settings page
  app/graphql/types/image_type.rb
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/queries/AvatarFieldQuery.graphql
  app/queries/UserSettingsPageViewerFragment.graphql
  config/graphql/schema.generated.graphql
Due: bin/fmt, bin/lint

Fix auth routes
  app/components/AppMenu.tsx
  config/routes.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
Due: bin/fmt, bin/lint

Fix logic in AvatarField
  app/components/AvatarField.tsx
  app/components/UserSettingsPageProfileForm.tsx
  app/graphql/types/image_type.rb
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/helpers/hooks.ts
  app/queries/UserSettingsPageViewerFragment.graphql
  config/graphql/schema.generated.graphql
  test/application_system_test_case.rb
Due: bin/fmt, bin/lint

Show spinner on AvatarField while uploading
  app/components/AvatarField.tsx
Due: bin/fmt, bin/lint
