Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Apply new layout rules
  app/channels/location_channel.rb
  app/controllers/cathendant/home_controller.rb
  app/controllers/home_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/mailers/users/devise_mailer.rb
  app/models/concerns/discardable.rb
  app/models/concerns/named.rb
  app/models/concerns/obsidian_entry.rb
  app/models/concerns/slugged.rb
  app/services/icloudctl.rb
  app/services/telnyx_client.rb
  config/initializers/healthcheck.rb
  lib/premailer_ext.rb
Due: bin/fmt, bin/lint

Nits
  app/controllers/admin_controller.rb
  app/models/location_log.rb
Due: bin/fmt, bin/lint

Updated navigation progress styling
  app/components/AppNavProgress.module.css
  app/components/AppNavProgress.tsx
Due: bin/fmt, bin/lint

Only show option to backfill location logs if there are logs to backfill
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/controllers/admin_controller.rb
  app/models/location_log.rb
  app/pages/AdminPage.tsx
Due: bin/fmt, bin/lint

Persistent AppLayout, goodbye buildLayout()
  app/channels/currently_playing_channel.rb
  app/components/AdminOAuthConnectionForm.tsx
  app/components/AppLayout.tsx
  app/emails/TestEmail.tsx
  app/emails/UserEmailChangedEmail.tsx
  app/emails/UserEmailVerificationEmail.tsx
  app/emails/UserPasswordChangedEmail.tsx
  app/emails/UserPasswordResetEmail.tsx
  app/emails/UserWelcomeEmail.tsx
  app/helpers/inertia/layout.tsx
  app/pages/AdminPage.tsx
  app/pages/ChangePasswordPage.tsx
  app/pages/ErrorPage.tsx
  app/pages/HomePage.tsx
  app/pages/LocatePage.tsx
  app/pages/LoginPage.tsx
  app/pages/PensievePage.tsx
  app/pages/RequestEmailVerificationPage.tsx
  app/pages/RequestPasswordResetPage.tsx
  app/pages/SettingsPage.tsx
  app/pages/SignupPage.tsx
  app/pages/TestPage.tsx
  app/pages/TimelineAdminPage.tsx
  config/auto-import.ts
  package.json
  typings/generated/auto-import.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Serializer generator trims 'Serializer' suffixes
  lib/generators/serializer_generator.rb
Due: bin/fmt, bin/lint

'entries' => 'journalEntries', serialize sync results
  app/components/AdminNotionJournalEntriesSyncButton.tsx
  app/components/HomePageJournalEntry.tsx
  app/controllers/admin_controller.rb
  app/controllers/home_controller.rb
  app/models/home_parameters.rb
  app/pages/HomePage.tsx
  app/serializers/notion_journal_entry_serializer.rb
  app/serializers/notion_journal_entry_sync_results_serializer.rb
  app/types/generated/NotionJournalEntry.ts
  app/types/generated/NotionJournalEntrySyncResults.ts
  app/types/generated/index.ts
  sorbet/rbi/dsl/home_parameters.rbi
  sorbet/rbi/dsl/notion_journal_entry_serializer.rbi
  sorbet/rbi/dsl/notion_journal_entry_sync_results_serializer.rbi
Due: bin/fmt, bin/lint

Nits
  app/controllers/admin/icloud_connections_controller.rb
  app/controllers/admin/location_access_grants_controller.rb
  app/controllers/admin/oauth_connections_controller.rb
  app/controllers/files_controller.rb
  app/controllers/images_controller.rb
  app/controllers/notion_journal_entries_controller.rb
  app/controllers/spotify_tracks_controller.rb
Due: bin/fmt, bin/lint

Don't send ActiveSupport::MessageVerifier::InvalidSignature to Sentry
  config/initializers/sentry.rb
Due: bin/fmt, bin/lint

Nits
  lib/discordrb_ext.rb
  lib/logging.rb
  lib/premailer_ext.rb
Due: bin/fmt, bin/lint

Respond with status :created after create
  app/controllers/admin/icloud_connections_controller.rb
  app/controllers/admin/location_access_grants_controller.rb
  app/controllers/cathendant/memos_controller.rb
Due: bin/fmt, bin/lint

Nits
  app/components/AdminICloudConnectionForm.tsx
  app/components/TestForm.tsx
Due: bin/fmt, bin/lint

Update actual_db_schema
  Gemfile
  Gemfile.lock
  sorbet/rbi/dsl/actual_db_schema/migrations_controller.rbi
  sorbet/rbi/dsl/actual_db_schema/phantom_migrations_controller.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/gems/actual_db_schema@0.7.3.rbi
  sorbet/rbi/gems/actual_db_schema@0.7.9.rbi
  sorbet/rbi/gems/rubocop-minitest@0.35.1.rbi
  sorbet/rbi/gems/rubocop-rails-omakase@1.0.0.rbi
Due: bin/fmt, bin/lint

Configure SWR options on useFetch
  app/helpers/fetch/index.ts
  app/helpers/fetch/setup.tsx
Due: bin/fmt, bin/lint

Reduce deps sensitivity for useFetch, useSubscription
  app/helpers/actioncable/subscription.ts
  app/helpers/fetch/index.ts
Due: bin/fmt, bin/lint

Add devdb script
  bin/devdb
Due: none

Rename LocationChannel -> LocationUpdatesChannel
  app/channels/approximate_location_updates_channel.rb
  app/channels/currently_playing_channel.rb
  app/channels/location_updates_channel.rb
  app/channels/test_channel.rb
  app/components/ApproximateLocationAlert.tsx
  app/models/location_log_address.rb
  app/pages/LocatePage.tsx
Due: bin/fmt, bin/lint

Nits
  app/jobs/analyze_obsidian_note_job.rb
  app/jobs/download_notion_journal_entry_job.rb
  app/jobs/reverse_geocode_location_log_job.rb
  app/jobs/send_pensieve_message_like_notification_job.rb
  app/jobs/sync_notion_journal_entry_job.rb
  config/puma.rb
  config/routes.rb
Due: bin/fmt, bin/lint

Silence bundle install messages when deploying
  Dockerfile
  sorbet/rbi/shims/lib/devise.rbi
Due: bin/fmt, bin/lint

Nits
  Gemfile
  Gemfile.lock
Due: none

Allow unused args that start with _
  .eslintrc.json
Due: bin/fmt

Switch from Yarn to npm
  .github/workflows/check.yml
  .husky/pre-commit
  Dockerfile
  README.md
  bin/fmt
  bin/lint
  bin/setup
  bin/yarn
  package-lock.json
  package.json
  yarn.lock
Due: bin/fmt

Don't need ffmpeg
  Dockerfile
Due: none

Only show journal entry title if permalinked
  app/controllers/home_controller.rb
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Upgrade packages
  Gemfile.lock
  app/entrypoints/application.ts
  app/entrypoints/application.tsx
  app/helpers/dependencies.ts
  app/helpers/inertia/app/client.tsx
  app/helpers/inertia/app/index.ts
  app/helpers/inertia/app/server.tsx
  app/helpers/inertia/client.ts
  app/helpers/inertia/index.ts
  app/helpers/inertia/server.ts
  app/ssr/ssr.tsx
  app/views/layouts/application.html.erb
  bin/dev
  bin/devdb
  bin/setup
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Fix email rendering
  lib/discordrb_ext.rb
  lib/premailer_ext.rb
Due: bin/fmt, bin/lint

Update README
  README.md
Due: bin/fmt

Cleanup unused deps
  package-lock.json
  package.json
Due: bin/fmt

Update Dockerfile
  Dockerfile
Due: none

Remove Chromium install step
  .github/workflows/check.yml
Due: bin/fmt

Nits
  app/components/AppMeta.tsx
  app/components/EmailLayout.tsx
  lib/js_from_routes_ext.rb
  sorbet/rbi/shims/lib/activesupport.rbi
Due: bin/fmt, bin/lint

Rename useFetch -> useFetchSWR
  app/components/AdminLocationAccessGrants.tsx
  app/components/AppMenu.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/FileInputFileCard.tsx
  app/components/ImageInput.tsx
  app/components/NotionJournalEntryCommentsStack.tsx
  app/helpers/contact.tsx
  app/helpers/fetch/index.ts
  app/helpers/fetch/swr.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

More flexible fetchRoute helper
  app/helpers/fetch/index.ts
  app/helpers/fetch/swr.tsx
Due: bin/fmt, bin/lint

Fetch-depth 0 on deploy
  .github/workflows/deploy.yml
Due: bin/fmt

Enable admin module by default
  .env.example
  app/controllers/users/registrations_controller.rb
  app/models/user.rb
  config/application.rb
  test/mailers/previews/user_mailer_preview.rb
Due: bin/fmt, bin/lint

Update oj_serializers typings
  sorbet/rbi/shims/lib/oj_serializers.rbi
Due: bin/fmt, bin/lint

Allow failed Fly scale command during deploy
  .github/workflows/deploy.yml
Due: bin/fmt

Nits
  .eslintrc.json
  .vscode/extensions.json
  app/components/ActionCableProvider.tsx
  app/components/AppMantineProvider.tsx
  app/components/AppWrapper.tsx
  app/components/EmailLayout.tsx
  app/components/EmailMantineProvider.tsx
  app/components/NotionJournalEntryCard.tsx
  app/components/PageLayout.tsx
  app/components/ResumeLayout.tsx
  package-lock.json
  package.json
Due: bin/fmt, bin/lint
