Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Typos
  .env.example
  app/models/user.rb
Due: bin/fmt, bin/lint

Remove loading page
  app/pages/LoadingPage.tsx
Due: bin/fmt, bin/lint

Config updates
  .vscode/settings.json
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Rename AppProgress -> AppNavProgress
  app/components/AppNavProgress.module.css
  app/components/AppNavProgress.tsx
  app/components/AppWrapper.tsx
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Remove unnecessary mailer-specific Vite config
  config/application.rb
  lib/inertia_rails_ext/mailer.rb
  sorbet/rbi/gems/actionmailer@7.1.3.2.rbi
  typings/generated/auto-import.d.ts
  vite.config.mailer.ts
  vite.config.ts
Due: bin/fmt, bin/lint

Update annotate wrapper
  app/models/cathendant/memo.rb
  app/models/cathendant_memo.rb
  app/models/exploration_comment.rb
  app/models/icloud_credentials.rb
  app/models/journal_entry.rb
  app/models/listening_log.rb
  app/models/location_access.rb
  app/models/location_access_grant.rb
  app/models/location_log.rb
  app/models/location_log_address.rb
  app/models/oauth_credentials.rb
  app/models/obsidian_note.rb
  app/models/obsidian_relation.rb
  app/models/obsidian_stub.rb
  app/models/pensieve_message.rb
  app/models/pensieve_message_like.rb
  app/models/timeline_activity.rb
  app/models/timeline_photo.rb
  app/models/user.rb
  lib/tasks/annotate.rake
Due: bin/fmt, bin/lint

Update tsconfig.json
  tsconfig.json
  tsconfig.node.json
Due: bin/fmt

Fix JS From Routes initializer
  config/initializers/js_from_routes.rb
  lib/js_from_routes_ext.rb
Due: bin/fmt, bin/lint

Fix login -> GoodJob redirect
  app/controllers/users/sessions_controller.rb
  app/helpers/inertia/form.tsx
Due: bin/fmt, bin/lint

Omit user in AppLayout props
  app/components/AppLayout.tsx
Due: bin/fmt, bin/lint

Nitpicks
  app/controllers/users/registrations_controller.rb
Due: bin/fmt, bin/lint

Resolve ITSKAI-9P
  app/helpers/sentry.ts
Due: bin/fmt, bin/lint

homepage_test -> more generic render_test
  app/controllers/concerns/renders_json_error.rb
  bin/lint
  db/schema.rb
  package.json
  test/system/render_test.rb
  yarn.lock
Due: bin/fmt, bin/lint

Fix journal entry permalinks; add an atom feed!
  app/components/JournalEntryCard.tsx
  app/concerns/routing.rb
  app/controllers/home_controller.rb
  app/controllers/journal_entries_controller.rb
  app/helpers/routes/generated/HomeRoutes.ts
  app/pages/HomePage.tsx
  app/serializers/journal_entry_serializer.rb
  app/types/generated/JournalEntry.ts
  app/views/home/feed.atom.builder
  config/routes.rb
Due: bin/fmt, bin/lint

Use last_edited_at as updated timestamp on feed
  app/views/home/feed.atom.builder
Due: none

Rename journal_entries -> notion_journal_entries
  app/components/AdminNotionJournalEntriesSyncButton.tsx
  app/components/HomePageJournalEntry.tsx
  app/components/NotionJournalEntry.module.css
  app/components/NotionJournalEntryCard.tsx
  app/components/NotionJournalEntryCommentsStack.module.css
  app/components/NotionJournalEntryCommentsStack.tsx
  app/controllers/admin_controller.rb
  app/controllers/home_controller.rb
  app/controllers/notion_journal_entries_controller.rb
  app/helpers/routes/generated/AdminRoutes.ts
  app/helpers/routes/generated/NotionJournalEntriesRoutes.ts
  app/helpers/routes/generated/all.ts
  app/jobs/download_notion_journal_entry_job.rb
  app/jobs/sync_notion_journal_entries_job.rb
  app/jobs/sync_notion_journal_entry_job.rb
  app/models/notion_journal_entry.rb
  app/models/notion_journal_entry_sync_results.rb
  app/pages/AdminPage.tsx
  app/pages/HomePage.tsx
  app/serializers/notion_journal_entry_serializer.rb
  app/services/notion_journal_entry_redactor.rb
  app/types/generated/NotionJournalEntry.ts
  app/types/generated/index.ts
  config/routes.rb
  db/migrate/20230702170823_reimport_journal_entries.rb
  db/migrate/20240725192752_rename_journal_entries_to_notion_journal_entries.rb
  db/schema.rb
  sorbet/rbi/dsl/download_journal_entry_job.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/journal_entry_serializer.rbi
  sorbet/rbi/dsl/notion_journal_entry.rbi
  sorbet/rbi/dsl/notion_journal_entry_serializer.rbi
  sorbet/rbi/dsl/sync_journal_entry_job.rbi
Due: bin/fmt, bin/lint

Add journal entry title to homepage title
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Auto-start Docker with dev script
  bin/dev
Due: none

Update Faraday gem
  Gemfile
  Gemfile.lock
  sorbet/rbi/gems/faraday-net_http@3.1.1.rbi
  sorbet/rbi/gems/faraday@2.10.1.rbi
  sorbet/rbi/gems/logger@1.6.0.rbi
Due: bin/fmt, bin/lint

Update styles
  app/components/AppLayout.tsx
  app/controllers/contact_urls_controller.rb
  app/helpers/contactMe.tsx
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Nitpicks
  app/components/AppMenu.tsx
  app/components/ContactLink.tsx
  app/components/ContactMeLink.tsx
  app/helpers/contact.tsx
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Fix application params init typings
  app/models/application_parameters.rb
Due: bin/fmt, bin/lint

Fix upload helper
  app/helpers/upload.ts
Due: bin/fmt, bin/lint

Dedupe FullStory setIdentity calls
  app/components/FullStoryTracking.tsx
Due: bin/fmt, bin/lint

Scale deployments before updating
  .github/workflows/deploy.yml
Due: bin/fmt

Lowercase preview text in emails
  README.md
  app/components/AppMeta.tsx
  app/components/EmailLayout.tsx
Due: bin/fmt, bin/lint

Set up Clarity tracking
  .env.example
  README.md
  app/components/ClarityTracking.tsx
  app/components/LoginPageForm.tsx
  app/components/PageLayout.tsx
  app/helpers/dependencies.ts
  app/helpers/fullstory.ts
  app/views/layouts/application.html.erb
  lib/tasks/deployment/20240802132026_send_another_welcome_email_to_test_preview_text.rake
  typings/clarity.d.ts
Due: bin/fmt, bin/lint

Fix deprecation in healthcheck.rb
  config/initializers/healthcheck.rb
Due: bin/fmt, bin/lint

Update Devise
  Gemfile.lock
  sorbet/rbi/gems/devise@4.9.4.rbi
  sorbet/rbi/gems/nokogiri@1.16.7.rbi
  sorbet/rbi/gems/racc@1.8.1.rbi
  sorbet/rbi/gems/rack@3.1.7.rbi
  sorbet/rbi/gems/zeitwerk@2.6.17.rbi
Due: bin/fmt, bin/lint

Fix Clarity tracking when project ID is not set
  app/components/ClarityTracking.tsx
Due: bin/fmt, bin/lint

WIP
  app/controllers/timeline_activities_controller.rb
  app/models/timeline_activities_parameters.rb
  app/serializers/timeline_activity_serializer.rb
  config/routes.rb
  sorbet/rbi/dsl/download_journal_entry_job.rbi
  sorbet/rbi/dsl/download_notion_journal_entry_job.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/sync_journal_entries_job.rbi
  sorbet/rbi/dsl/sync_journal_entry_job.rbi
  sorbet/rbi/dsl/sync_notion_journal_entries_job.rbi
  sorbet/rbi/dsl/sync_notion_journal_entry_job.rbi
  sorbet/rbi/dsl/timeline_activities_parameters.rbi
Due: bin/fmt, bin/lint

Imagine using parentheses in assertions
  test/system/render_test.rb
Due: bin/fmt, bin/lint

Fix deploy tasks to be idempotent
  lib/tasks/deployment/20240802132026_send_another_welcome_email_to_test_preview_text.rake
Due: none

Use var(--matine-radius-default)
  app/components/AdminLocationAccessGrants.tsx
  app/components/AppLayout.tsx
  app/components/DeleteButton.tsx
  app/components/Pensieve.tsx
  app/components/ResumeDialog.tsx
  app/components/SettingsPageDeleteAccountForm.tsx
Due: bin/fmt, bin/lint

Imagine using parentheses in assertions
  README.md
  app/views/home/feed.atom.builder
Due: bin/fmt

Upgrade Mantine version
  package.json
  yarn.lock
Due: bin/fmt

Remove mypy lint
  .github/workflows/check.yml
  bin/lint
Due: bin/fmt

Clear unused inflections
  lib/inflections.rb
Due: bin/fmt, bin/lint

Fixup schema and yarn.lock
  db/schema.rb
  yarn.lock
Due: bin/fmt, bin/lint
