Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Nits (onUpdated -> onProfileUpdated, etc.)
  app/components/AccountPageProfileForm.tsx
  app/components/AdminLocationAccessGrantCard.tsx
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/AdminLocationAccessGrantDeleteButton.tsx
  app/components/AdminLocationAccessGrants.tsx
  app/pages/AccountPage.tsx
  sorbet/rbi/gems/reline@0.5.10.rbi
Due: bin/fmt, bin/lint

Add typing support for CSS modules
  typings/css-modules.d.ts
Due: bin/fmt, bin/lint

Don't validate input on blur
  app/components/LoginPageForm.tsx
Due: bin/fmt, bin/lint

Update credentials
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/storage.yml
Due: bin/fmt

Fix broken mailer
  app/mailers/application_mailer.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/database.yml
  config/initializers/devise.rb
  config/initializers/geocoder.rb
  config/initializers/mailjet.rb
  config/initializers/notion.rb
  config/initializers/sentry.rb
  config/storage.yml
Due: bin/fmt, bin/lint

Update test procedure
  Procfile.test
  config/database.yml
Due: bin/fmt

Don't require password confirmations; set password changed success alert in JavaScript
  app/components/AccountPagePasswordForm.tsx
  app/components/ChangePasswordPageForm.tsx
  app/components/SignupPageForm.tsx
  app/controllers/users/registrations_controller.rb
Due: bin/fmt, bin/lint

Fix broken failed test screenshots
  test/application_system_test_case.rb
Due: bin/fmt, bin/lint

Disallow changing Inertia SSR
  config/initializers/inertia_rails.rb
Due: bin/fmt, bin/lint

Don't need Mailcatcher for tests
  Procfile.test
  bin/test
  config/environments/development.rb
  config/initializers/mailcatcher.rb
Due: bin/fmt, bin/lint

Run render test with Rack::Test
  .github/workflows/check.yml
  Gemfile
  Gemfile.lock
  config/initializers/capybara.rb
  test/system/render_test.rb
Due: bin/fmt, bin/lint

Fix RBIs
  app/concerns/routing.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  sorbet/rbi/dsl/application_mailer.rbi
  sorbet/rbi/dsl/application_record.rbi
  sorbet/rbi/dsl/devise/mailer.rbi
  sorbet/rbi/dsl/routing.rbi
  sorbet/rbi/dsl/test_mailer.rbi
  sorbet/rbi/dsl/user_mailer.rbi
  sorbet/rbi/dsl/users/devise_mailer.rbi
  sorbet/rbi/shims/app/test/system/application_system_test_case.rb
Due: bin/fmt, bin/lint

Rename PORT -> RAILS_PORT
  .env.example
  Dockerfile
  config/puma.rb
Due: bin/fmt, bin/lint

Run Spotlight sidecar in dev
  Procfile.dev
Due: none

Fix a few more form field names
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/ChangePasswordPageForm.tsx
  app/components/ExplorationCommentForm.tsx
  app/components/LocationAccessForm.tsx
  app/components/LoginPageForm.tsx
  app/components/RequestEmailVerificationPageForm.tsx
  app/components/RequestPasswordResetPageForm.tsx
  app/components/SignupPageForm.tsx
  app/components/TestForm.tsx
  app/pages/CathendantContributePage.tsx
  app/pages/TestPage.tsx
Due: bin/fmt, bin/lint

Actually run tests on CI
  Procfile.ci-test
Due: none

Group nowrap by default
  app/components/AdminLocationAccessGrantCard.tsx
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/Attribution.tsx
  app/components/FileInputFileCard.tsx
  app/components/FileInputUploadCard.tsx
  app/components/ResumeSkillsSection.tsx
  app/components/ResumeWorkSection.tsx
  app/components/TimelinePhotoCreateWithTimestampForm.tsx
  app/helpers/mantine.ts
  app/pages/ResumePage.tsx
Due: bin/fmt, bin/lint

Only enable Sentry in production environments
  app/helpers/fullstory.ts
  app/helpers/meta.ts
  app/helpers/sentry.ts
  config/initializers/sentry.rb
Due: bin/fmt, bin/lint

Use separate Sentry DSN in production
  config/credentials/production.yml.enc
Due: none

Don't let Postgres exit code interfere with test results
  Procfile.test
  bin/test
Due: none

Use larger-than mixin
  app/components/ResumeLayout.module.css
Due: bin/fmt

Wrap exploration badges
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Rename Settings -> Account in AppMenu
  app/components/AppMenu.tsx
Due: bin/fmt, bin/lint

Update disabled button styling
  app/components/AdminICloudConnectionForm.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/ImageInput.module.css
  app/helpers/mantine.module.css
Due: bin/fmt, bin/lint

Update useFieldsFilled hook, and use it everywhere
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/components/AdminICloudConnectionForm.tsx
  app/components/LocationAccessForm.module.css
  app/components/LocationAccessForm.tsx
  app/components/LoginPageForm.tsx
  app/components/RequestEmailVerificationPageForm.tsx
  app/components/RequestPasswordResetPageForm.tsx
  app/components/SignupPageForm.tsx
  app/helpers/form.tsx
  app/pages/CathendantContributePage.tsx
  lib/mapbox.rb
Due: bin/fmt, bin/lint

Update button styling
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
Due: bin/fmt, bin/lint

Update recommended workspace extensions
  .vscode/extensions.json
Due: bin/fmt

Initialize FullStory and Sentry in development
  app/helpers/sentry.ts
  app/views/layouts/application.html.erb
Due: bin/fmt, bin/lint

Nits
  .github/workflows/check.yml
Due: bin/fmt

Update Admin module
  lib/admin.rb
Due: bin/fmt, bin/lint

Auto-detect form action
  app/components/AccountPageDeleteAccountForm.tsx
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/components/AdminICloudConnectionForm.tsx
  app/components/AdminICloudDisconnectButton.tsx
  app/components/AdminICloudVerifySecurityCodeForm.tsx
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/AdminLocationAccessGrantDeleteButton.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/AdminLocationLogsSyncButton.tsx
  app/components/AdminNotionJournalEntriesSyncButton.tsx
  app/components/AdminOAuthDisconnectButton.tsx
  app/components/AppMenu.tsx
  app/components/ChangePasswordPageForm.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/ExplorationCommentForm.tsx
  app/components/LocationAccessForm.tsx
  app/components/LoginPageForm.tsx
  app/components/RequestEmailVerificationPageForm.tsx
  app/components/RequestPasswordResetPageForm.tsx
  app/components/SignupPageForm.tsx
  app/components/StrongPasswordInput.tsx
  app/components/TestForm.tsx
  app/helpers/fetch/form.tsx
  app/helpers/inertia/form.tsx
  app/pages/AccountPage.tsx
  app/pages/CathendantContributePage.tsx
  tsconfig.node.json
Due: bin/fmt, bin/lint

useIsClient -> useMounted
  app/pages/LocatePage.tsx
  app/pages/TimelinePage.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Remove unnecessary eslint-disable react-hooks/exhaustive-deps
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/components/ClarityTracking.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/FullStoryTracking.tsx
  app/components/ImageInput.tsx
  app/components/StrongPasswordInput.tsx
  app/helpers/actioncable/subscription.ts
  app/helpers/form.tsx
  app/helpers/upload.tsx
  app/pages/CathendantContributePage.tsx
Due: bin/fmt, bin/lint

Don't memoize the containerization of AppLayout content
  app/components/AppLayout.tsx
  app/components/PageContainer.tsx
Due: bin/fmt, bin/lint

Fix syntax error in application.html.erb
  app/views/layouts/application.html.erb
Due: none

Nits
  app/components/StrongPasswordInput.tsx
  app/helpers/actioncable/subscription.ts
  app/helpers/upload.tsx
Due: bin/fmt, bin/lint

Fix server status label
  app/components/AppMenu.tsx
  config/initializers/healthcheck.rb
Due: bin/fmt, bin/lint
