Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Use R2 for object storage
  .env.example
  config/environments/production.rb
  config/storage.yml
Due: bin/fmt, bin/lint

Re-fetch SWR when params change
  .env.example
  .vscode/settings.json
  Procfile.ci-test
  Procfile.test
  app/components/ImageInput.tsx
  app/helpers/fetch/swr.tsx
  bin/test
Due: bin/fmt, bin/lint

Don't wait for Postgres to be ready in Procfile.[ci-]test
  Procfile.ci-test
  Procfile.test
  app/channels/application_cable/channel.rb
  app/channels/location_updates_channel.rb
  app/controllers/admin/icloud_connections_controller.rb
  app/controllers/admin/location_access_grants_controller.rb
  app/controllers/admin/oauth_connections_controller.rb
  app/controllers/application_controller.rb
  app/controllers/cathendant/memos_controller.rb
  app/controllers/concerns/renders_json_error.rb
  app/controllers/concerns/renders_json_exception.rb
  app/controllers/contact_urls_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/spotify_tracks_controller.rb
  app/models/notion_journal_entry.rb
  lib/rails_ext/generators.rb
Due: bin/fmt, bin/lint

Nits
  app/pages/TestPage.tsx
Due: bin/fmt, bin/lint

Clean up syntax on check.yml
  .github/workflows/check.yml
Due: bin/fmt

Add job timeouts
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: bin/fmt

Use lefthook to lint and format
  .eslintignore
  .eslintrc.json
  .github/workflows/check.yml
  .husky/pre-commit
  .lintstagedrc.js
  .prettierignore
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  app/components/AppLayout.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/FileInput.tsx
  app/components/ImageInput.tsx
  app/components/Pensieve.tsx
  app/helpers/contact.tsx
  app/helpers/currentlyPlaying.tsx
  app/helpers/fetch/swr.tsx
  app/helpers/upload.ts
  app/helpers/widen.ts
  app/pages/TimelinePage.tsx
  bin/black
  bin/check
  bin/fix
  bin/fmt
  bin/lefthook
  bin/lint
  bin/mypy
  bin/setup
  config/auto-import.ts
  eslint.config.js
  lefthook.yml
  package-lock.json
  package.json
  tsconfig.node.json
  typings/iso-import.d.ts
Due: bin/fmt, bin/lint

Make binstubs more resilient to running from different working directories
  bin/attach
  bin/check
  bin/deploy
  bin/dev
  bin/fix
  bin/overmind
  bin/quit
  bin/restart
  bin/run
  bin/setup
  bin/test
Due: none

Revert Fly deployment on failure
  .github/workflows/deploy.yml
Due: bin/fmt

Remove 'skip' option from fetchRoute
  app/components/ImageInput.tsx
  app/helpers/fetch/index.ts
  app/helpers/fetch/swr.tsx
  lefthook.yml
Due: bin/fmt, bin/lint

Nits
  Dockerfile
  lefthook.yml
Due: bin/fmt

Don't error when image preview not found
  app/components/FileInputUploadCard.tsx
  app/components/ImageInput.tsx
  app/controllers/images_controller.rb
  app/helpers/upload.tsx
  app/views/layouts/application.html.erb
  config/application.rb
  lefthook.yml
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Enable incremental Typescript compilation
  tsconfig.json
Due: bin/fmt

Check all files with GitHub actions
  .github/workflows/check.yml
Due: bin/fmt

Show alert on failed image upload
  app/components/ImageInput.tsx
  package-lock.json
Due: bin/fmt, bin/lint

Do everything inline in controllers
  app/controllers/admin/icloud_connections_controller.rb
  app/controllers/admin/location_access_grants_controller.rb
  app/controllers/admin/oauth_connections_controller.rb
  app/controllers/admin_controller.rb
  app/controllers/cathendant/home_controller.rb
  app/controllers/contact_urls_controller.rb
  app/controllers/explorations_controller.rb
  app/controllers/files_controller.rb
  app/controllers/home_controller.rb
  app/controllers/images_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/notion_journal_entries_controller.rb
  app/controllers/password_strength_checks_controller.rb
  app/controllers/spotify_tracks_controller.rb
  config/initializers/frozen_record.rb
Due: bin/fmt, bin/lint

Don't deep camelize/underscore anything
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/ChangePasswordPageForm.tsx
  app/components/LoginPageForm.tsx
  app/components/RequestEmailVerificationPageForm.tsx
  app/components/RequestPasswordResetPageForm.tsx
  app/components/SettingsPageEmailForm.tsx
  app/components/SettingsPagePasswordForm.tsx
  app/components/SettingsPageProfileForm.tsx
  app/components/SignupPageForm.tsx
  app/helpers/fetch/form.tsx
  app/helpers/inertia/form.tsx
  app/helpers/inflect.ts
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Don't use full messages for form errors
  app/components/LoginPageForm.tsx
  app/helpers/errors.ts
  app/helpers/form.tsx
  app/helpers/mantine.ts
  app/models/concerns/form_errors.rb
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Update breadcrumbs to use route helpers
  app/pages/AdminPage.tsx
  app/pages/PensievePage.tsx
  app/pages/SettingsPage.tsx
  app/pages/TimelineAdminPage.tsx
Due: bin/fmt, bin/lint

Show user badge in top right
  app/components/AdminLocationAccessGrants.tsx
  app/components/AppMenu.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/FileInputFileCard.tsx
  app/components/ImageInput.tsx
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

I did this to myself
  app/components/AppMenu.tsx
Due: bin/fmt, bin/lint

Fix Playwright installation
  Dockerfile
Due: none

Use fetch form for user profile + email updates
  app/components/AdminICloudVerifySecurityCodeForm.tsx
  app/components/AdminLocationAccessGrantCard.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/AdminLocationLogsSyncButton.tsx
  app/components/AdminNotionJournalEntriesSyncButton.tsx
  app/components/AppLayout.module.css
  app/components/AppLayout.tsx
  app/components/AppMenu.tsx
  app/components/ExplorationCommentForm.tsx
  app/components/ImageInput.tsx
  app/components/LoginPageForm.tsx
  app/components/SettingsPageEmailForm.tsx
  app/components/SettingsPagePasswordForm.tsx
  app/components/SettingsPageProfileForm.tsx
  app/controllers/users/registrations_controller.rb
  app/helpers/fetch/form.tsx
  app/helpers/fetch/index.ts
  app/helpers/inertia/form.tsx
  app/helpers/notifications.tsx
  app/helpers/routes/generated/Users/RegistrationsRoutes.ts
  app/models/user.rb
  app/pages/CathendantContributePage.tsx
  app/pages/SettingsPage.tsx
  config/auto-import.ts
  config/routes.rb
  package-lock.json
  package.json
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

A little tidying goes a long way
  app/components/AdminLocationAccessGrantCreateForm.tsx
  app/components/AppLayout.tsx
  app/components/Pensieve.tsx
  app/components/SettingsPageEmailForm.tsx
Due: bin/fmt, bin/lint

Try the setRef pattern on HomePageJournalEntry
  app/components/HomePageJournalEntry.tsx
Due: bin/fmt, bin/lint

Use ta=center Mantine shorthand
  app/components/FileInput.tsx
  app/components/ImageInput.tsx
  app/pages/ChangePasswordPage.tsx
  app/pages/ErrorPage.tsx
  app/pages/PensievePage.tsx
  app/pages/RequestEmailVerificationPage.tsx
  app/pages/RequestPasswordResetPage.tsx
Due: bin/fmt, bin/lint

Rename /settings -> /account
  app/components/AccountPageDeleteAccountForm.tsx
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/controllers/application_controller.rb
  app/controllers/users/registrations_controller.rb
  app/helpers/routes/generated/Users/RegistrationsRoutes.ts
  app/pages/AccountPage.tsx
  config/routes.rb
Due: bin/fmt, bin/lint

Nits
  app/helpers/inertia/page/index.tsx
Due: bin/fmt, bin/lint

Adjust styling
  .env.example
  app/components/AccountPageDeleteAccountForm.tsx
  app/components/AdminICloudConnectionForm.tsx
  app/components/AdminICloudDisconnectButton.tsx
  app/components/AdminLocationAccessGrants.module.css
  app/components/AdminLocationAccessGrants.tsx
  app/components/AdminLocationLogsSyncButton.tsx
  app/components/AdminNotionJournalEntriesSyncButton.tsx
  app/components/AdminOAuthDisconnectButton.tsx
  app/components/AppMenu.module.css
  app/components/AppMenu.tsx
  app/components/ApproximateLocationAlert.tsx
  app/components/EmptyCard.tsx
  app/components/HomePageJournalEntry.tsx
  app/components/LocationAccessForm.tsx
  app/components/NotionJournalEntryCommentsStack.tsx
  app/helpers/inertia/page/index.tsx
  app/helpers/mantine.ts
  app/models/notion_journal_entry.rb
  app/pages/AccountPage.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Nits
  app/helpers/notifications.tsx
Due: bin/fmt, bin/lint

Add blur to overlay
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Nits
  app/channels/approximate_location_updates_channel.rb
  app/channels/location_updates_channel.rb
  app/channels/test_channel.rb
  app/helpers/actioncable/subscription.ts
Due: bin/fmt, bin/lint

Prepare for encrypted attributes
  .env.example
  config/application.rb
Due: bin/fmt, bin/lint

Stop resume PDF loading indicator after 6sec
  app/components/ResumeDialog.tsx
  docker-compose.yml
Due: bin/fmt, bin/lint

Run production server with Thruster
  Dockerfile
  Procfile
  sorbet/rbi/gems/bundler-audit@0.9.2.rbi
  sorbet/rbi/gems/dry-cli@1.1.0.rbi
  sorbet/rbi/gems/lefthook@1.7.15.rbi
  sorbet/rbi/gems/puma@6.4.3.rbi
  sorbet/rbi/gems/reline@0.5.10.rbi
  sorbet/rbi/gems/rexml@3.3.7.rbi
  sorbet/rbi/gems/vite_ruby@3.8.2.rbi
  sorbet/rbi/gems/zeitwerk@2.6.18.rbi
Due: bin/fmt, bin/lint

Trim down node_modules size in production
  Dockerfile
Due: none

Fit header logo button
  app/components/AppLayout.tsx
Due: bin/fmt, bin/lint

Un-require some gems
  Gemfile
Due: none

Nits
  app/entrypoints/application.tsx
  app/ssr/ssr.tsx
Due: bin/fmt, bin/lint

Fix insecure packages
  package-lock.json
Due: bin/fmt
