Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Run deployment tasks on setup
  bin/setup
Due: none

Wait for Postgres ready
  Procfile.dev
  Procfile.test
Due: none

Inline-grid is OP
  app/components/Time.module.css
  app/components/Time.tsx
Due: bin/fmt, bin/lint

Use SWR to manage subscriptions
  app/components/AdminLocationAccessGrants.tsx
  app/components/AppMenu.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/FileInputFileCard.tsx
  app/components/ImageInput.tsx
  app/components/NotionJournalEntryCommentsStack.tsx
  app/helpers/actioncable/subscription.ts
  app/helpers/fetch/index.ts
  app/helpers/fetch/swr.tsx
  app/pages/LocatePage.tsx
  app/policies/application_policy.rb
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Disable React.StrictMode; update subscription/fetch utils
  app/components/AppMeta.tsx
  app/entrypoints/application.tsx
  app/helpers/actioncable/subscription.ts
  app/helpers/fetch/index.ts
  app/helpers/page.ts
  app/ssr/ssr.tsx
Due: bin/fmt, bin/lint

Initialize ActionCableContext with undefined cable
  app/components/ActionCableProvider.tsx
  app/helpers/actioncable/index.ts
Due: bin/fmt, bin/lint

Add useEnv hook
  app/helpers/fullstory.ts
  app/helpers/meta.ts
  app/helpers/sentry.ts
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Anchor container is keyboard tab-able again
  app/components/AnchorContainer.module.css
  app/components/AnchorContainer.tsx
  sorbet/rbi/shims/lib/activerecord.rbi
Due: bin/fmt, bin/lint

Add logidze, friendly_id Tapioca compilers
  sorbet/rbi/dsl/obsidian_note.rbi
  sorbet/rbi/shims/lib/activerecord-postgis-adapter.rbi
  sorbet/tapioca/compilers/active_record_relations.rb
  sorbet/tapioca/compilers/friendly_id.rb
  sorbet/tapioca/compilers/kaminari.rb
  sorbet/tapioca/compilers/logidze.rb
  sorbet/tapioca/compilers/pg_search.rb
Due: bin/fmt, bin/lint

Skip db:prepare on tests
  Procfile.ci-test
  Procfile.test
Due: none

Set RAILS_ENV=test only on CI
  .github/workflows/check.yml
  Procfile.ci-test
  bin/overmind
  bin/setup
  bin/test
Due: bin/fmt

Don't pre-create test DB on CI
  .github/workflows/check.yml
Due: bin/fmt

Nits
  bin/overmind
Due: none

Fix missing Inertia form error
  app/helpers/fetch/form.tsx
  app/helpers/inertia/form.tsx
Due: bin/fmt, bin/lint

Nits
  app/channels/application_cable/connection.rb
Due: bin/fmt, bin/lint

Render unauthenticated error as JSON when request.formats.json?
  app/controllers/application_controller.rb
  app/helpers/fetch/setup.ts
  app/models/unauthenticated_error.rb
  sorbet/rbi/shims/app/controllers/application_controller.rbi
Due: bin/fmt, bin/lint

Don't confuddle the two forms on test page
  app/components/TestForm.tsx
  app/helpers/actioncable/subscription.ts
  app/helpers/inertia/form.tsx
  app/pages/TestPage.tsx
Due: bin/fmt, bin/lint

Properly unset subscription after disconnect
  app/helpers/actioncable/subscription.ts
Due: bin/fmt, bin/lint

Nits
  app/helpers/fullstory.ts
  app/helpers/sentry.ts
Due: bin/fmt, bin/lint

Don't log UnauthenticatedError
  config/initializers/sentry.rb
Due: bin/fmt, bin/lint

Show unknown error message when missing error
  app/helpers/fetch/form.tsx
  app/helpers/inertia/form.tsx
  app/helpers/inflect.ts
Due: bin/fmt, bin/lint

Don't set custom EDITOR
  .vscode/settings.json
Due: bin/fmt

Supply isOnline to useFetchRoute, useSubscription
  app/helpers/actioncable/subscription.ts
  app/helpers/fetch/index.ts
  app/helpers/inertia/page/index.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Rename forms
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/components/AdminICloudConnectionForm.tsx
  app/components/AdminICloudVerifySecurityCodeForm.tsx
  app/components/ExplorationCommentForm.tsx
  app/components/TestForm.tsx
  app/pages/TestPage.tsx
Due: bin/fmt, bin/lint

Nits
  app/components/ContactLink.tsx
  app/helpers/contact.tsx
Due: bin/fmt, bin/lint

Set import.meta.env.RAILS_ENV
  app/helpers/fullstory.ts
  app/helpers/meta.ts
  app/helpers/sentry.ts
  package-lock.json
  package.json
  typings/env.d.ts
  vite.config.ts
Due: bin/fmt, bin/lint

Typecheck Ruby in CI; fix bad Sorbet typing
  lefthook.yml
  sorbet/rbi/shims/lib/activerecord-postgis-adapter.rbi
Due: bin/fmt, bin/lint

Nits
  bin/dev
  bin/postgres
Due: none

Avoid 'isVisible is not a function', etc.
  app/helpers/fetch/index.ts
Due: bin/fmt, bin/lint

Fix currently playing island + nits
  app/components/CurrentlyPlayingIsland.tsx
  app/helpers/fetch/index.ts
  app/models/application_frozen_record.rb
  app/policies/application_policy.rb
  config/initializers/frozen_record.rb
Due: bin/fmt, bin/lint

Fix exploration comments
  app/components/CurrentlyPlayingIsland.tsx
  app/controllers/explorations_controller.rb
  bin/setup
  config/application.rb
Due: bin/fmt, bin/lint

Remove unused binaries
  .github/workflows/check.yml
  Gemfile
  Gemfile.lock
  bin/brakeman
  bin/geocode
  bin/vernier
  sorbet/rbi/gems/vernier@0.6.0.rbi
Due: bin/fmt, bin/lint

Fix npm audit vulnerabilities
  package-lock.json
Due: bin/fmt

Fix lints
  app/jobs/active_storage/cleanup_blobs_job.rb
  app/serializers/notion_journal_entry_serializer.rb
  lib/discordrb_ext.rb
  lib/inertia_rails_ext/mailer.rb
  lib/types_from_serializers_ext.rb
  lib/vite_ruby_ext.rb
Due: bin/fmt, bin/lint

Remove Identifiable; use supabase/postgres
  .github/workflows/check.yml
  app/models/cathendant/memo.rb
  app/models/cathendant_memo.rb
  app/models/concerns/identifiable.rb
  app/models/exploration_comment.rb
  app/models/icloud_credentials.rb
  app/models/listening_log.rb
  app/models/location_access.rb
  app/models/location_log.rb
  app/models/location_log_address.rb
  app/models/notion_journal_entry.rb
  app/models/obsidian_note.rb
  app/models/obsidian_relation.rb
  app/models/obsidian_stub.rb
  app/models/pensieve_message.rb
  app/models/timeline_photo.rb
  app/models/user.rb
  bin/postgres
Due: bin/fmt, bin/lint

Receive requests to add events to calendar from email
  app/controllers/event_emails_controller.rb
  app/models/event_email.rb
  config/environments/development.rb
  config/routes.rb
  db/migrate/20241120053509_create_event_emails.rb
  db/schema.rb
  sorbet/rbi/annotations/actionpack.rbi
  sorbet/rbi/dsl/event_email.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
Due: bin/fmt, bin/lint

Use Fly-Client-IP header to identify client IP in production
  app/controllers/event_emails_controller.rb
Due: bin/fmt, bin/lint

Add authentication breadcrumb
  config/initializers/warden.rb
Due: bin/fmt, bin/lint

Use reversed to reverse-lookup client IP
  Gemfile
  Gemfile.lock
  app/controllers/event_emails_controller.rb
Due: bin/fmt, bin/lint
