Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

Increase Fly concurrency limits
  fly.toml
Due: none

Add swap memory
  fly.toml
Due: none

Explorations now trigger the Pensieve (instead of email)
  Gemfile
  Gemfile.lock
  app/components/CurrentlyPlayingIsland.tsx
  app/components/ExplorationBadge.tsx
  app/components/Pensieve.tsx
  app/components/PensieveMessage.module.css
  app/components/PensieveMessage.tsx
  app/graphql/mutations/create_location_access.rb
  app/jobs/send_pensieve_message_like_notification_job.rb
  app/models/pensieve_message_like.rb
  app/policies/location_access_policy.rb
  app/services/notifications_bot.rb
  app/services/pensieve_bot.rb
  package.json
  sorbet/rbi/annotations/actionmailer.rbi
  sorbet/rbi/annotations/actionpack.rbi
  sorbet/rbi/annotations/activejob.rbi
  sorbet/rbi/annotations/activerecord.rbi
  sorbet/rbi/annotations/activesupport.rbi
  sorbet/rbi/annotations/devise.rbi
  sorbet/rbi/annotations/graphql.rbi
  sorbet/rbi/annotations/phonelib.rbi
  sorbet/rbi/annotations/railties.rbi
  sorbet/rbi/annotations/rainbow.rbi
  sorbet/rbi/gems/activesupport@7.1.3.2.rbi
  sorbet/rbi/gems/benchmark-ips@2.13.0.rbi
  sorbet/rbi/gems/dead_end@4.0.0.rbi
  sorbet/rbi/gems/derailed_benchmarks@2.1.2.rbi
  sorbet/rbi/gems/get_process_mem@0.2.7.rbi
  sorbet/rbi/gems/graphql-connections@1.4.0.rbi
  sorbet/rbi/gems/graphql-persisted_queries@1.8.0.rbi
  sorbet/rbi/gems/graphql-rails_logger@1.2.4.rbi
  sorbet/rbi/gems/graphql@2.3.0.rbi
  sorbet/rbi/gems/heapy@0.2.0.rbi
  sorbet/rbi/gems/mini_histogram@0.3.1.rbi
  sorbet/rbi/gems/ruby-statistics@3.0.2.rbi
  sorbet/rbi/gems/telegram-bot-ruby@2.0.0.rbi
  sorbet/rbi/gems/vernier@0.6.0.rbi
  yarn.lock
Due: bin/fmt, bin/lint

Update explorations.yml
  config/explorations.yml
Due: bin/fmt

Sanitize explicit lyrics, add 'jam with me!' tooltip
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/graphql/types/lyric_line_type.rb
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/models/lyric_line.rb
  app/queries/CurrentlyPlayingLyricsTooltipLyricLineFragment.graphql
  app/services/spotify_client.rb
  config/badwords.txt
  graphql/schema.graphql
Due: bin/fmt, bin/lint

Update Node version
  .node-version
Due: none

Add likes counter cache on PensieveMessage
  Gemfile
  Gemfile.lock
  app/graphql/types/pensieve_message_type.rb
  app/models/oauth_credentials.rb
  app/models/pensieve_message.rb
  app/models/pensieve_message_like.rb
  app/models/spotify_user.rb
  app/services/currently_playing_poll.rb
  app/workers/currently_playing_poller.rb
  config/initializers/currently_playing_poller.rb
  config/initializers/pensieve_receiver.rb
  config/initializers/query_watcher.rb
  db/migrate/20240406210650_add_likes_count_to_pensieve_messages.rb
  db/schema.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/pensieve_message.rbi
  sorbet/rbi/gems/counter_culture@3.5.3.rbi
  sorbet/rbi/shims/lib/counter_culture.rbi
Due: bin/fmt, bin/lint

Use checkout@v4 action
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: bin/fmt

Update Dockerfile
  Dockerfile
Due: none

Rename bin/release to bin/deploy; fix typing
  app/components/MiniProfilerPageTracking.tsx
  app/pages/LoadingPage.tsx
  bin/deploy
  fly.toml
Due: bin/fmt, bin/lint

Rename bin/release to bin/deploy; fix typing
  Dockerfile
  app/components/MiniProfilerPageTracking.tsx
  app/pages/LoadingPage.tsx
  bin/deploy
  fly.toml
Due: bin/fmt, bin/lint

SAVEPOINT
  .env.example
  Dockerfile
  Gemfile
  Gemfile.lock
  app/models/alena.rb
  docker-compose.yml
  sorbet/rbi/gems/neighbor@0.3.2.rbi
Due: bin/fmt, bin/lint

Update Dockerfile
  Dockerfile
  Gemfile
Due: none

Email styling lookin' gooooood
  app/components/EmailLayout.tsx
  app/components/email.tsx
  app/emails/TestEmail.tsx
  app/emails/UserEmailChangedEmail.tsx
  app/emails/UserEmailVerificationEmail.tsx
  app/emails/UserPasswordChangedEmail.tsx
  app/emails/UserPasswordResetEmail.tsx
  app/emails/UserWelcomeEmail.tsx
  config/initializers/premailer.rb
  lib/premailer_ext.rb
  lib/tasks/deployment/20240415201727_send_welcome_email_to_owner.rake
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Don't use Mantine components as a base for email components
  app/components/AppMantineProvider.tsx
  app/components/EmailLayout-lowercasing.css
  app/components/EmailLayout.css
  app/components/EmailLayout.tsx
  app/components/EmailMantineProvider.tsx
  app/components/PageLayout-lowercasing.css
  app/components/PageLayout.tsx
  app/components/email.tsx
  app/emails/TestEmail.tsx
  app/emails/UserEmailChangedEmail.tsx
  app/emails/UserEmailVerificationEmail.tsx
  app/emails/UserPasswordResetEmail.tsx
  app/helpers/mantine.ts
  config/initializers/premailer.rb
  lib/premailer_ext.rb
Due: bin/fmt, bin/lint

Add index to speed up HomePage loading
  app/controllers/home_controller.rb
  app/models/journal_entry.rb
  db/migrate/20240416004823_index_journal_entries_on_started_at.rb
  db/schema.rb
Due: bin/fmt, bin/lint

Add hackglobal resume, update resume format
  .github/workflows/check.yml
  app/components/ResumeEducationSection.tsx
  app/components/ResumeLayout.tsx
  app/components/ResumeProjectSection.tsx
  app/controllers/resumes_controller.rb
  app/graphql/queries/booted_at.rb
  app/graphql/queries/resume.rb
  app/helpers/graphql/types.generated.ts
  app/helpers/mantine.ts
  app/helpers/resume.ts
  app/pages/ResumePage.tsx
  config/resume-hackglobal.yml
  graphql/schema.graphql
  lib/resume.rb
Due: bin/fmt, bin/lint

Upgrade Node setup action
  .github/workflows/check.yml
Due: bin/fmt

Send mail using Mailjet API
  config/environments/production.rb
Due: bin/fmt, bin/lint

Add rememberable helpers
  app/components/EmailLayout.css
  app/components/EmailLayout.tsx
  sorbet/rbi/shims/app/models/user.rbi
Due: bin/fmt, bin/lint

Remove EmailLayout.css
  app/components/EmailLayout.tsx
  app/components/email.tsx
Due: bin/fmt, bin/lint

Remove 'Payload' pattern from GraphQL mutations
  app/graphql/mutations/activate_scottkit_signal.rb
  app/graphql/mutations/activate_spotify_jam_session.rb
  app/graphql/mutations/add_journal_entry_comment.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_dishwatcher_capture.rb
  app/graphql/mutations/create_dishwatcher_device.rb
  app/graphql/mutations/create_icloud_connection.rb
  app/graphql/mutations/create_location_access.rb
  app/graphql/mutations/create_location_access_grant.rb
  app/graphql/mutations/create_timeline_photo_with_timestamp.rb
  app/graphql/mutations/delete_google_connection.rb
  app/graphql/mutations/delete_icloud_connection.rb
  app/graphql/mutations/delete_location_access_grant.rb
  app/graphql/mutations/delete_spotify_connection.rb
  app/graphql/mutations/import_timeline_activities.rb
  app/graphql/mutations/import_timeline_photos.rb
  app/graphql/mutations/leave_journeys_session.rb
  app/graphql/mutations/like_pensieve_message.rb
  app/graphql/mutations/request_user_email_verification.rb
  app/graphql/mutations/request_user_password_reset.rb
  app/graphql/mutations/send_pensieve_message.rb
  app/graphql/mutations/sync_journal_entries.rb
  app/graphql/mutations/sync_location_logs.rb
  app/graphql/mutations/test_mutation.rb
  app/graphql/mutations/unlike_pensieve_message.rb
  app/graphql/mutations/update_dishwatch_device.rb
  app/graphql/mutations/update_journeys_session_participation.rb
  app/graphql/mutations/update_user_email.rb
  app/graphql/mutations/update_user_profile.rb
  app/graphql/mutations/verify_icloud_security_code.rb
Due: bin/fmt, bin/lint

Enable ?ssr=1 in development
  Gemfile.lock
  app/channels/graphql_channel.rb
  app/controllers/application_controller.rb
  config/application.rb
  config/initializers/content_security_policy.rb
  lib/vite_ruby_ext.rb
  sorbet/rbi/gems/inertia_rails@3.1.4.rbi
  sorbet/rbi/gems/nokogiri@1.16.4.rbi
  sorbet/rbi/gems/rake@13.2.1.rbi
  sorbet/rbi/gems/reline@0.5.4.rbi
Due: bin/fmt, bin/lint

Add actual_db_schema; update Sentry + FullStory integrations
  Gemfile
  Gemfile.lock
  README.md
  app/entrypoints/fullstory.ts
  app/entrypoints/sentry.ts
  app/helpers/actioncable.ts
  app/helpers/apollo/clientLink.ts
Due: bin/fmt, bin/lint

Use latest CSRF token when available
  Gemfile.lock
  app/components/ApolloProvider.tsx
  app/components/AppMenu.tsx
  app/components/AppWrapper.tsx
  app/helpers/apollo/clientLink.ts
  app/helpers/apollo/link.ts
Due: bin/fmt, bin/lint

Misc refactors
  .github/workflows/check.yml
  Gemfile
  Gemfile.lock
  app/helpers/apollo/clientLink.ts
  icloudctl.py
  lib/inertia_rails_ext/helper.rb
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Wait for resume fonts to load when printing as PDF
  app/controllers/resumes_controller.rb
  config/initializers/currently_playing_poller.rb
  config/initializers/pensieve_receiver.rb
  config/initializers/query_watcher.rb
Due: bin/fmt, bin/lint

Set default radius in Mantine theme
  app/controllers/application_controller.rb
  app/graphql/mutations/update_journeys_session_participation.rb
  app/helpers/mantine.ts
  config/vite.json
Due: bin/fmt, bin/lint

Switch primary region to Denver
  app/jobs/analyze_obsidian_notes_job.rb
  app/jobs/sync_journal_entry_job.rb
  fly.toml
Due: bin/fmt, bin/lint

Add Python lint+formatting to bin/{fmt,lint}
  .gitignore
  .lintstagedrc.js
  .prettierignore
  bin/black
  bin/fmt
  bin/lint
  bin/mypy
  icloudctl.py
  poetry.lock
  pylib/icloud.py
  pyproject.toml
Due: bin/fmt, bin/lint

Way better FileField UX
  app/components/FileField.tsx
  app/components/ICloudVerifySecurityCodeForm.tsx
  app/components/TimelineActivitiesImportForm.tsx
  app/components/TimelinePhotoCreateWithTimestampForm.tsx
  app/components/TimelinePhotosImportForm.tsx
  app/components/UserLoginPageForm.tsx
  app/pages/TestPage.tsx
Due: bin/fmt, bin/lint

Exclude 'vendor', 'node_modules' from Black formatting
  .lintstagedrc.js
  app/components/FileField.tsx
  app/controllers/application_controller.rb
  pyproject.toml
Due: bin/fmt, bin/lint

Build SSR to dist/ssr
  .dockerignore
  .gitignore
  .prettierignore
  Procfile.dev
  config/vite.json
  sorbet/config
Due: bin/fmt

Nits
  app/pages/UserChangePasswordPage.tsx
  app/pages/UserLoginPage.tsx
  app/pages/UserRequestEmailVerificationPage.tsx
  app/pages/UserRequestPasswordResetPage.tsx
  app/pages/UserSignupPage.tsx
Due: bin/fmt, bin/lint

Remove sprockets
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  config/application.rb
  sorbet/rbi/gems/actionview@7.1.3.2.rbi
  sorbet/rbi/gems/sprockets-rails@3.4.2.rbi
  sorbet/rbi/gems/sprockets@4.2.1.rbi
  sorbet/tapioca/require.rb
Due: bin/fmt, bin/lint

/verification -> /email_verification
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/pages/ChangePasswordPage.tsx
  app/pages/LoginPage.tsx
  app/pages/RequestPasswordResetPage.tsx
  app/pages/SignupPage.tsx
  config/routes.rb
  sorbet/rbi/dsl/sprockets/rails/context.rbi
  sorbet/rbi/dsl/sprockets/rails/helper.rbi
Due: bin/fmt, bin/lint

Path conditions:
  bin/fmt: any of: *.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}
  bin/lint: any of: *.{rb,rbi,js,jsx,ts,tsx}
