Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

Reorder homepage components
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Adjust pensieve spacing
  app/components/Pensieve.tsx
Due: bin/fmt, bin/lint

People from the internet can now talk to me through the pensieve!
  app/components/JournalEntryComments.tsx
  app/components/Pensieve.tsx
  app/components/PensieveChatBox.tsx
  app/components/PensieveMessage.tsx
  app/graphql/mutations/add_journal_entry_comment.rb
  app/graphql/mutations/send_pensieve_message.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/pensieve_message_sender_type.rb
  app/graphql/types/pensieve_message_type.rb
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/models/pensieve.rb
  app/models/pensieve_message.rb
  app/queries/PensieveMessageFragment.graphql
  app/queries/PensieveMessageMessageFragment.graphql
  app/queries/SendPensieveMessageMutation.graphql
  config/graphql/schema.generated.graphql
  config/initializers/activerecord.rb
  db/migrate/20230820042312_add_edit_timestamp_to_pensieve_messages.rb
  db/schema.rb
  sorbet/rbi/dsl/pensieve_message.rbi
  sorbet/rbi/shims/lib/devise.rbi
Due: bin/fmt, bin/lint

Update fly.toml
  fly.toml
Due: none

Add Google fonts to email template
  app/views/layouts/mailer.html.erb
  test/mailers/previews/user_mailer_preview.rb
Due: bin/fmt, bin/lint

Update pensieve message styling
  app/components/PensieveMessage.tsx
Due: bin/fmt, bin/lint

Pensieve messages now have a TTL of 24 hours
  app/graphql/queries/pensieve_messages.rb
Due: bin/fmt, bin/lint

Increase pensieve viewport autoscroll delay
  app/components/Pensieve.tsx
  app/graphql/concerns/allows_failed_loads.rb
  app/graphql/queries/pensieve_messages.rb
Due: bin/fmt, bin/lint

People can like pensieve messages!
  app/channels/application_cable/connection.rb
  app/channels/graphql_channel.rb
  app/components/Pensieve.tsx
  app/components/PensieveMessage.tsx
  app/components/PensieveMessageLike.tsx
  app/controllers/graphql_controller.rb
  app/graphql/concerns/resolver.rb
  app/graphql/mutations/like_pensieve_message.rb
  app/graphql/mutations/unlike_pensieve_message.rb
  app/graphql/subscriptions/activity_status.rb
  app/graphql/subscriptions/currently_playing.rb
  app/graphql/subscriptions/pensieve_message.rb
  app/graphql/subscriptions/test_subscription.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/pensieve_message_type.rb
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/models/pensieve_message.rb
  app/models/pensieve_message_like.rb
  app/queries/LikePensieveMessageMutation.graphql
  app/queries/PensieveMessageLikeMessageFragment.graphql
  app/queries/PensieveMessageMessageFragment.graphql
  app/queries/UnlikePensieveMessageMutation.graphql
  config/graphql/schema.generated.graphql
  db/migrate/20230820171018_create_pensieve_message_likes.rb
  db/schema.rb
  sorbet/rbi/dsl/pensieve_message_like.rbi
  sorbet/rbi/shims/lib/actionpack.rbi
Due: bin/fmt, bin/lint

Handle null sessions in GraphQL resolvers
  app/channels/application_cable/connection.rb
  app/channels/graphql_channel.rb
  app/controllers/graphql_controller.rb
  app/graphql/concerns/resolver.rb
Due: bin/fmt, bin/lint

Notify pensieve when someone likes a message
  app/components/Pensieve.tsx
  app/components/PensieveMessage.tsx
  app/graphql/mutations/send_pensieve_message.rb
  app/jobs/analyze_obsidian_note_job.rb
  app/jobs/analyze_obsidian_notes_job.rb
  app/jobs/cleanup_obsidian_stubs_job.rb
  app/jobs/download_journal_entry_job.rb
  app/jobs/import_journal_entries_job.rb
  app/jobs/import_journal_entry_job.rb
  app/jobs/import_location_logs_job.rb
  app/jobs/send_pensieve_message_like_notification_job.rb
  app/models/pensieve.rb
  app/models/pensieve_message.rb
  app/models/pensieve_message_like.rb
Due: bin/fmt, bin/lint

Update README
  README.md
Due: bin/fmt

Implement a fullscreen pensieve page!
  app/components/JournalEntry.tsx
  app/components/JournalEntryComments.tsx
  app/components/PageContainer.tsx
  app/components/Pensieve.tsx
  app/components/PensieveChatBox.tsx
  app/controllers/pensieves_controller.rb
  app/helpers/graphql/operations.generated.ts
  app/pages/HomePage.tsx
  app/pages/PensievePage.tsx
  app/queries/PensievePageQuery.graphql
  config/routes.rb
Due: bin/fmt, bin/lint

Add titles and meta descriptions
  app/components/ResumeLayout.tsx
  app/pages/PensievePage.tsx
  app/pages/UserSettingsPage.tsx
Due: bin/fmt, bin/lint

Add an opengraph banner for the pensieve page
  app/pages/PensievePage.tsx
  public/pensieve-banner.png
Due: bin/fmt, bin/lint

Trigger pensieve message subscriptions only for recent messages
  app/graphql/queries/pensieve_messages.rb
  app/models/pensieve_message.rb
Due: bin/fmt, bin/lint

Index pensieve messages on timestamp
  app/models/pensieve_message.rb
  db/migrate/20230821040744_index_pensieve_messages_on_timestamp.rb
  db/schema.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/pensieves_controller.rbi
  sorbet/rbi/dsl/send_pensieve_message_like_notification_job.rbi
Due: bin/fmt, bin/lint

Make the homepage pensieve a lil taller
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

The pensieve loading skeleton looks kinda funny
  app/components/Pensieve.tsx
Due: bin/fmt, bin/lint

Make homepage pensieve even taller
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Render links in pensieve messages
  app/components/PensieveMessage.tsx
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Rename /gh to /src
  config/routes.rb
Due: bin/fmt, bin/lint

Add 'noIndex' option to AppMeta
  app/components/AppMeta.tsx
  app/concerns/routing.rb
  config/environments/development.rb
  config/initializers/geocoder.rb
  sorbet/rbi/shims/lib/actionpack.rbi
Due: bin/fmt, bin/lint

Update scripts
  bin/overmind
  bin/test
Due: none

Correct typings for vite-plugin-iso-import
  app/helpers/apollo/link.ts
  tsconfig.json
  typings/iso-import.d.ts
Due: bin/fmt, bin/lint

Deploy with canary strategy
  .github/workflows/check.yml
  fly.toml
Due: bin/fmt

Increase Fly wait timeout
  .github/workflows/deploy.yml
Due: bin/fmt

Simplify Dockerfile
  Dockerfile
  Gemfile.lock
Due: none

Ensure we're using latest Chromedriver in CI and container
  .github/workflows/check.yml
  Dockerfile
Due: bin/fmt

Automatically use correct webdriver version
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/resumes_controller.rb
  sorbet/rbi/gems/nokogiri@1.15.4.rbi
  sorbet/rbi/gems/webdrivers@5.2.0.rbi
  test/test_helper.rb
Due: bin/fmt, bin/lint

Try bluegreen deployments
  fly.toml
Due: none

Bugfixes with GraphQL helpers
  app/channels/graphql_channel.rb
  app/concerns/graphql/querying.rb
  app/controllers/graphql_controller.rb
  app/graphql/concerns/resolver.rb
Due: bin/fmt, bin/lint

Minor refactor
  app/models/announcements.rb
  app/models/contact.rb
  app/models/google.rb
  app/models/location.rb
  app/models/owner.rb
  app/models/shortcuts.rb
  app/models/spotify.rb
  config/initializers/devise.rb
Due: bin/fmt, bin/lint

Fix Pensieve autoscroll issues
  app/components/Pensieve.tsx
  app/pages/PensievePage.tsx
Due: bin/fmt, bin/lint

Remove old package patches
  patches/@mantine+nprogress+6.0.13.patch
Due: none

Refactor icons
  app/components/AppMenu.tsx
  app/components/icons.ts
  config/auto-import.ts
  typings/auto-import.generated.d.ts
Due: bin/fmt, bin/lint

Use a more sane font weight range
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.html.erb
Due: none

Rename Empty -> EmptyCard
  app/components/EmptyCard.tsx
  app/components/index.ts
  config/auto-import.ts
  typings/auto-import.generated.d.ts
Due: bin/fmt, bin/lint

Bring deploy wait timeout down
  .github/workflows/deploy.yml
Due: bin/fmt

Refactor AvatarField
  app/components/AvatarField.tsx
Due: bin/fmt, bin/lint

Path conditions:
  bin/fmt: any of: *.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}
  bin/lint: any of: *.{rb,rbi,js,jsx,ts,tsx}
