Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Use .graphqlrc.yml to configure graphql-codegen
  .eslintrc.json
  .github/workflows/check.yml
  .graphqlrc.yml
  .prettierignore
  Gemfile.lock
  app/controllers/poorlydrawnlines/comics_controller.rb
  app/entrypoints/application.ts
  app/helpers/dependencies.ts
  app/helpers/inertia/app/client.tsx
  app/helpers/inertia/client.ts
  app/helpers/inertia/index.ts
  app/helpers/inertia/page/index.tsx
  app/ssr/ssr.ts
  bin/graphql-codegen
  config/environments/development.rb
  config/graphql/codegen.helpers.ts
  config/graphql/codegen.schema.ts
  config/routes.rb
  graphql/schema.graphql
  lib/inflections.rb
  tsconfig.node.json
Due: bin/fmt, bin/lint

Use Poetry to manage Python dependencies
  .gitignore
  .zcustomizations
  Dockerfile
  README.md
  bin/setup
  poetry.lock
  poetry.toml
  pyproject.toml
Due: bin/fmt

Upgrade node
  .node-version
  Dockerfile
Due: none

Correct python version
  .zcustomizations
  bin/graphql-codegen
  poetry.lock
  poetry.toml
  pyproject.toml
Due: none

Fix unnecessary type annotations
  app/components/ActivityStatus.tsx
  app/components/AppMenu.tsx
  app/components/ContactMeLink.tsx
  app/components/CurrentlyPlayingIsland.tsx
  app/components/EmptyCard.tsx
  app/components/GoogleCredentialsForm.tsx
  app/components/ICloudCredentialsForm.tsx
  app/components/ICloudVerifySecurityCodeForm.tsx
  app/components/InstagramCredentialsForm.tsx
  app/components/JournalEntry.tsx
  app/components/LocationAccessGrantCard.tsx
  app/components/LocationAccessGrantCreateForm.tsx
  app/components/LocationAccessGrants.tsx
  app/components/LocationTrackForm.tsx
  app/components/NotionContent.tsx
  app/components/Pensieve.tsx
  app/components/PensieveChatBox.tsx
  app/components/PensieveMessage.tsx
  app/components/PensieveMessageLike.tsx
  app/components/ResumeDialog.tsx
  app/components/SpotifyCredentialsForm.tsx
  app/components/Time.tsx
  app/components/UserRequestPasswordResetPageForm.tsx
  app/components/WebsiteBadge.tsx
  app/pages/SenecaPage.tsx
Due: bin/fmt, bin/lint

Reconfigure Fly to deploy, then scale
  .github/workflows/deploy.yml
  test/system/home_test.rb
Due: bin/fmt, bin/lint

The show must go on...
  config/routes.rb
Due: bin/fmt, bin/lint

Use after_party; various refactors
  .bashrc
  .dockerignore
  .gitignore
  .vscode/settings.json
  .zcustomizations
  Aptfile
  Brewfile
  Dockerfile
  Gemfile
  Gemfile.lock
  Procfile.dev
  Procfile.test
  app/jobs/import_journal_entry_job.rb
  app/mailers/application_mailer.rb
  app/models/event.rb
  app/services/notion_client.rb
  app/services/pensieve_bot.rb
  app/workers/pensieve_receiver.rb
  bin/release
  bin/test
  config/environments/test.rb
  config/initializers/after_party.rb
  config/initializers/inertia.rb
  config/initializers/notion.rb
  config/initializers/pensieve_receiver.rb
  config/initializers/sentry.rb
  db/migrate/20231122173856_create_task_records.rb
  db/schema.rb
  docker-compose.yml
  fly.toml
  lib/notifications.rb
  lib/owner.rb
  lib/pensieve.rb
  poetry.toml
  sorbet/rbi/gems/after_party@1.11.2.rbi
  test/application_system_test_case.rb
Due: bin/fmt, bin/lint

Rename docker-compose services
  Procfile.dev
  Procfile.test
  bin/setup
  docker-compose.yml
Due: bin/fmt

Configure Docker entrypoint
  Dockerfile
  fly.toml
Due: none

Configure pycall to use Poetry virtualenv
  Dockerfile
  Gemfile
  Gemfile.lock
  config/initializers/pycall.rb
  pyproject.toml
  requirements.txt
Due: bin/fmt, bin/lint

Build Python with a shared object
  Dockerfile
  app/components/UserSettingsPagePasswordForm.tsx
  bin/run
  lib/contact.rb
  lib/tasks/fly.rake
Due: bin/fmt, bin/lint

Downgrade Ruby version :')
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

Upgrade Python version
  .python-version
  poetry.lock
  pyproject.toml
Due: none

Upgrade mantine; light theme =_=
  .env.example
  app/components/AppLayout.module.css
  app/components/AppLayout.tsx
  app/components/AppMantineProvider.tsx
  app/components/AppMenu.module.css
  app/components/AppMenu.tsx
  app/components/ExplorationBadge.module.css
  app/components/JournalEntry.module.css
  app/components/JournalEntry.tsx
  app/components/JournalEntryComments.module.css
  app/components/JournalEntryComments.tsx
  app/components/LocationAccessGrants.module.css
  app/components/LocationAccessGrants.tsx
  app/components/LocationAlert.tsx
  app/pages/HomePage.module.css
  app/pages/HomePage.tsx
  app/pages/LocatePage.module.css
  app/pages/LocatePage.tsx
  app/views/layouts/application.html.erb
  package.json
  typings/auto-import.generated.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Add light mode styling to Pensieve components
  app/components/Pensieve.tsx
  app/components/PensieveChatBox.module.css
  app/components/PensieveMessage.module.css
  app/components/PensieveMessage.tsx
Due: bin/fmt, bin/lint

Add light mode styling to location access grant card
  app/components/LocationAccessGrantCard.module.css
  app/components/LocationAccessGrantCard.tsx
Due: bin/fmt, bin/lint

Add light mode styling to currently playing island
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/controllers/users/omniauth_callbacks_controller.rb
Due: bin/fmt, bin/lint

Reorder sections on homepage
  app/pages/HomePage.tsx
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Styling tweaks
  app/pages/LocatePage.module.css
  app/pages/LocatePage.tsx
Due: bin/fmt, bin/lint

Remove unused tasks
  .ruby-version
  Gemfile
  Gemfile.lock
  app/jobs/reverse_geocode_location_logs_without_neighbourhood_job.rb
  app/models/location_log.rb
  db/migrate/20230719134237_reverse_geocode_location_logs_without_neighbourhood.rb
  sorbet/rbi/dsl/active_storage/current.rbi
  sorbet/rbi/dsl/reverse_geocode_location_logs_without_neighbourhood_job.rbi
  sorbet/rbi/gems/rdoc@6.6.1.rbi
  sorbet/tapioca/compilers/active_record_relations.rb
Due: bin/fmt, bin/lint

Add some more typings
  sorbet/rbi/gems/rbi@0.1.5.rbi
  sorbet/rbi/gems/spoom@1.2.4.rbi
  sorbet/rbi/gems/tapioca@0.11.13.rbi
  sorbet/rbi/shims/lib/activesupport.rbi
  sorbet/rbi/shims/lib/globalid.rbi
  sorbet/tapioca/compilers/active_record_relations.rb
  sorbet/tapioca/compilers/enumerize.rb
  sorbet/tapioca/config.yml
  sorbet/tapioca/require.rb
Due: bin/fmt, bin/lint

Use Playwright instead of Selenium
  .bashrc
  .github/workflows/check.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  Procfile.test
  app/components/ResumeLayout.tsx
  app/controllers/resumes_controller.rb
  bin/setup
  bin/test
  config/initializers/capybara.rb
  sorbet/rbi/gems/addressable@2.8.6.rbi
  sorbet/rbi/gems/capybara-playwright-driver@0.5.0.rbi
  sorbet/rbi/gems/playwright-ruby-client@1.40.0.rbi
  sorbet/rbi/gems/regexp_parser@2.8.3.rbi
  sorbet/rbi/gems/rubyzip@2.3.2.rbi
  sorbet/rbi/gems/selenium-webdriver@4.15.0.rbi
  sorbet/rbi/gems/websocket@1.2.10.rbi
  test/application_system_test_case.rb
Due: bin/fmt, bin/lint

Initial journey app
  .env.example
  Gemfile
  Gemfile.lock
  app/components/JourneyAppLayout.tsx
  app/components/JourneyAppMeta.tsx
  app/constraints/journey_subdomain_constraint.rb
  app/controllers/journey/home_controller.rb
  app/controllers/journey/transcriptions_controller.rb
  app/helpers/graphql/operations.generated.ts
  app/pages/JourneyHomePage.tsx
  app/queries/JourneyHomePageQuery.graphql
  config/initializers/openai.rb
  config/routes.rb
  config/vite.json
  package.json
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/gems/event_stream_parser@1.0.0.rbi
  sorbet/rbi/gems/ruby-openai@6.3.1.rbi
  sorbet/rbi/gems/streamio-ffmpeg@3.0.2.rbi
  yarn.lock
Due: bin/fmt, bin/lint

Update Brewfile to include ffmpeg
  Brewfile
  Dockerfile
Due: none

Install libraries through Homebrew
  Brewfile
  Dockerfile
Due: none

Fix .bashrc
  .bashrc
Due: none

Give up on Linuxbrew
  .bash_profile
  .bashrc
  Brewfile
  Dockerfile
Due: none

Specify Playwright browser during setup
  Dockerfile
  bin/setup
Due: none

Fix frontend bug
  app/pages/JourneysSessionPage.tsx
Due: bin/fmt, bin/lint

Support audio capture from Safari (but at what cost :'))
  app/controllers/journeys/sessions_controller.rb
Due: bin/fmt, bin/lint

Try out react-media-recorder instead of react-audio-voice-recorder
  app/controllers/journeys/sessions_controller.rb
  app/pages/JourneysHomePage.tsx
  app/pages/JourneysSessionPage.tsx
  bin/test
  config/puma.rb
  config/ssl/cert.pem
  config/ssl/key.pem
  package.json
  typings/iso-import.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Support different content types
  app/controllers/journeys/sessions_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/journeys/session_participation.rb
  app/pages/JourneysHomePage.tsx
  lib/inertia_rails_ext.rb
  lib/inertia_rails_ext/controller.rb
  sorbet/rbi/dsl/resolver.rbi
  sorbet/rbi/gems/devise@4.9.3.rbi
  sorbet/rbi/shims/lib/inertia_rails.rbi
Due: bin/fmt, bin/lint

Make useReactMediaRecorder work with SSR
  app/helpers/mediaRecorder.ts
  app/pages/JourneysHomePage.tsx
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Fix bad audio encoding on iOS Safari
  app/controllers/journeys/sessions_controller.rb
  app/pages/JourneysHomePage.tsx
  config/puma.rb
  config/ssl/cert.pem
  config/ssl/key.pem
Due: bin/fmt, bin/lint

Fix UI bug
  app/pages/JourneysSessionPage.tsx
Due: bin/fmt, bin/lint

Update participation information
  Gemfile
  Gemfile.lock
  app/components/JourneysSessionParticipationForm.tsx
  app/controllers/journeys/sessions_controller.rb
  app/graphql/mutations/journeys_base_mutation.rb
  app/graphql/mutations/update_journeys_session_participation.rb
  app/graphql/queries/journeys_session_participation.rb
  app/graphql/types/journeys_session_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/helpers/animals.ts
  app/helpers/apollo/clientHelpers.generated.ts
  app/helpers/graphql/operations.generated.ts
  app/helpers/graphql/types.generated.ts
  app/models/journeys/session.rb
  app/models/journeys/session_participation.rb
  app/pages/JourneysHomePage.tsx
  app/pages/JourneysSessionPage.tsx
  app/policies/journeys/session_participation_policy.rb
  app/policies/journeys/session_policy.rb
  app/queries/JourneysSessionPageQuery.graphql
  app/queries/JourneysSessionParticipationFormQuery.graphql
  app/queries/UpdateJourneysSessionParticipationMutation.graphql
  graphql/schema.graphql
  sorbet/rbi/gems/faker@3.2.2.rbi
Due: bin/fmt, bin/lint
