Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

Configure spring
  Gemfile
  Gemfile.lock
  Procfile.test
  bin/annotate
  bin/derailed
  bin/find_autoloaded_during_boot
  bin/good_job
  bin/lefthook
  bin/rails
  bin/rake
  bin/setup
  bin/spoom
  bin/srb
  bin/tapioca
  bin/vite
  config/application.rb
  config/environments/test.rb
  db/schema.rb
  lefthook.yml
Due: bin/fmt, bin/lint

Update setup script to work with Spring
  bin/setup
  package-lock.json
Due: bin/fmt

Fix location access grant creation
  app/controllers/admin/location_access_grants_controller.rb
Due: bin/fmt, bin/lint

Add action_url to location access notifications
  app/helpers/mantine.css
  app/helpers/mantine.ts
  app/models/location_access.rb
  app/models/push_subscription.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/location_access.rbi
  sorbet/rbi/dsl/notification.rbi
  sorbet/rbi/dsl/push_notification_job.rbi
Due: bin/fmt, bin/lint

Alternate Geocoder API keys before reverse geocoding location log
  app/models/location_log.rb
  config/initializers/geocoder.rb
Due: bin/fmt, bin/lint

Stylistic fixes; correct marker color on LocatePage; default notification to open admin notifications page
  app/components/AppHeader.tsx
  app/components/AppLayout.module.css
  app/components/AppLayout.tsx
  app/components/AppMenu.tsx
  app/controllers/push_subscriptions_controller.rb
  app/helpers/fetch/setup.ts
  app/helpers/mantine.ts
  app/helpers/serviceWorker.ts
  app/helpers/webPush.ts
  app/models/location_access.rb
  app/pages/LocatePage.tsx
  app/workers/service-worker.ts
Due: bin/fmt, bin/lint

Apply font-size-md to JsonInput, NumberInput
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Update mobile layout
  app/components/AppLayout.module.css
Due: bin/fmt

Show notification toasts on bottom right
  app/components/Toaster.tsx
Due: bin/fmt, bin/lint

POST /event_emails -> POST /add/event_emails
  config/routes.rb
Due: bin/fmt, bin/lint

Upgrade NPM packages
  package-lock.json
Due: bin/fmt

Specify nameservers when looking up forwardemail.net origin
  app/controllers/add_event_emails_controller.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
Due: bin/fmt, bin/lint

Refactor
  app/helpers/fetch/setup.ts
Due: bin/fmt, bin/lint

Ignore FullStory load failure
  app/helpers/sentry.ts
Due: bin/fmt, bin/lint

Remove geocoder_ext
  config/application.rb
  lib/geocoder_ext.rb
Due: bin/fmt, bin/lint

Increment ATTEMPTS when booting Docker
  bin/boot_docker
Due: none

Remove useCable auto-import
  app/helpers/actioncable/subscription.ts
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Refactors
  app/components/AppMenu.tsx
  app/helpers/mantine.module.css
  app/helpers/routes/generated/AdminsRoutes.ts
  app/helpers/routes/generated/CalendlyRoutes.ts
  app/helpers/routes/generated/EventEmailsRoutes.ts
  app/helpers/routes/generated/PlacesRoutes.ts
  app/helpers/routes/generated/ResumesRoutes.ts
  app/helpers/routes/generated/all.ts
  app/pages/HomePage.tsx
  app/views/layouts/application.html.erb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/database.yml
  config/initializers/sentry.rb
  config/routes.rb
  lib/clarity.rb
  lib/fullstory.rb
Due: bin/fmt, bin/lint

Handle failures to get Spotify access token
  app/services/spotify_client.rb
Due: bin/fmt, bin/lint

Use Clarity NPM package
  app/components/ClarityTracking.tsx
  app/entrypoints/application.tsx
  app/helpers/clarity.ts
  app/views/layouts/application.html.erb
  package-lock.json
  package.json
  sorbet/rbi/shims/lib/frozen_record.rbi
  typings/clarity.d.ts
  vite.config.ts
Due: bin/fmt, bin/lint

Correctly route dev emails to Mailcatcher
  app/components/EmailLayout.tsx
  app/pages/LoginPage.tsx
  app/pages/SignupPage.tsx
  config/environments/development.rb
Due: bin/fmt, bin/lint

Point start URL to admin notifications
  Dockerfile
  config/credentials.yml.enc
  public/site.webmanifest
Due: none

Require cloudflare credentials in production
  config/storage.yml
Due: bin/fmt

NPM audit fix
  package-lock.json
Due: bin/fmt

Accept Time format string
  app/components/Time.tsx
Due: bin/fmt, bin/lint

Use localized timestamp when sending location access notifications
  app/components/NotificationCard.tsx
  app/models/location_access.rb
  app/serializers/location_access_serializer.rb
  app/serializers/notification_serializer.rb
  app/types/Noticeable.ts
  app/types/generated/Alert.ts
  app/types/generated/LocationAccess.ts
  app/types/generated/index.ts
  lib/owner.rb
Due: bin/fmt, bin/lint

Trigger mini profile page transition on 'before'
  app/components/MiniProfilerPageTracking.tsx
Due: bin/fmt, bin/lint

Use @mixin hover
  app/components/AdminLocationAccessGrantCard.module.css
  app/components/AnchorContainer.module.css
  app/components/AppMenu.module.css
  app/components/CurrentlyPlayingIsland.module.css
  app/components/ExplorationBadge.module.css
Due: bin/fmt

Use dynamic props in email layout
  app/components/AppLayout.tsx
  app/components/EmailLayout.tsx
Due: bin/fmt, bin/lint

Faster email development workflow
  config/vite.json
  lib/inertia_rails_ext/mailer.rb
  lib/inertia_rails_ext/middleware.rb
  lib/vite_ruby_ext.rb
Due: bin/fmt, bin/lint

Disallow console.log
  app/helpers/layout.ts
  eslint.config.js
Due: bin/fmt, bin/lint

Fix typechecking
  eslint.config.js
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Better authorization error messages
  app/controllers/application_controller.rb
  app/controllers/concerns/renders_json_exception.rb
Due: bin/fmt, bin/lint

Fix ?ssr in dev
  app/controllers/application_controller.rb
  lib/inertia_rails_ext/mailer.rb
  lib/vite_ruby_ext.rb
Due: bin/fmt, bin/lint

Remove spring (it was freezing all the time)
  Gemfile
  bin/rails
  bin/rake
  bin/rubocop
  bin/spring
  config/environments/test.rb
  sorbet/rbi/gems/spring-commands-rubocop@0.4.0.rbi
  sorbet/rbi/gems/spring@4.2.1.rbi
Due: bin/fmt, bin/lint

Re-lock Gemfile
  Gemfile.lock
Due: none

Close modals after navigation
  app/helpers/inertia/setup.ts
Due: bin/fmt, bin/lint

Path conditions:
  bin/fmt: any of: *.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}
  bin/lint: any of: *.{rb,rbi,js,jsx,ts,tsx}
