Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Install react-on-rails
  Gemfile.lock
  app/components/AnotherComponent.tsx
  app/components/HelloWorld.tsx
  app/controllers/hello_world_controller.rb
  app/packs/server.ts
  app/views/layouts/application.html.erb
  bin/overmind
  config/initializers/react_on_rails.rb
  config/routes.rb
  config/swc.config.js
  config/webpack/clientWebpackConfig.js
  config/webpack/commonWebpackConfig.js
  config/webpack/development.js
  config/webpack/production.js
  config/webpack/serverWebpackConfig.js
  config/webpack/test.js
  config/webpack/webpack.config.js
  config/webpack/webpackConfig.js
  config/webpacker.yml
  package.json
  tsconfig.json
  yarn.lock
Due: bin/fmt, bin/lint

Configure auto-imports (for MAXIMUM EFFICIENCY)
  .eslintrc.json
  app/packs/generated/AnotherComponent.jsx
  app/packs/generated/InputIcon.jsx
  app/packs/generated/Layout.jsx
  app/packs/generated/MantineProvider.jsx
  app/packs/server-bundle-generated.js
  app/views/components/Layout.tsx
  app/views/components/What.jsx
  app/views/hello_world/components/IndexHelloWorldPage.tsx
  app/views/hello_world/index.html.erb
  app/views/shared/components/AnotherComponent.tsx
  app/views/shared/components/InputIcon.tsx
  app/views/shared/components/Layout.tsx
  app/views/shared/components/MantineProvider.tsx
  app/views/shared/helpers/mantine.ts
  config/webpack/commonWebpackConfig.js
  package.json
  tsconfig.json
  typings/auto-imports.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Add missing config files
  .zshrc
  Aptfile
  starship.toml
Due: none

Support bundling gems on CI
  Gemfile.lock
Due: none

Configure for deployment with Fly
  fly.toml
Due: none

Configure CD with Fly
  .github/workflows/application.yml
  bin/release
  fly.toml
Due: bin/fmt

Avoid Safari pop-up blocker when opening email client
  app/views/shared/hooks/contact.tsx
Due: bin/fmt, bin/lint

Serve static files from Rails app (as fallback)
  fly.toml
Due: none

Correct healthcheck endpoint on Dockerfile
  Dockerfile
Due: none

Don't route statics through Fly (are statics cached?)
  Dockerfile
  fly.toml
Due: none

Only install production dependencies in image
  Dockerfile
  bin/setup
Due: none

Prevent concurrent deploys
  .github/workflows/application.yml
Due: bin/fmt

Fix issues with releasing on Fly
  Dockerfile
Due: none

Serve statics directly using Fly
  fly.toml
Due: none

Adjust resume layout & margins
  app/views/resume/components/DownloadResumePDFButton.tsx
  app/views/resume/components/ResumeLayout.tsx
  app/views/resume/components/ResumePage.tsx
  app/views/resume/components/ResumeSkillsSection.tsx
  config/resume.yml
Due: bin/fmt, bin/lint

Adjust layout
  app/views/home/components/HomePage.tsx
  app/views/resume/components/DownloadResumePDFButton.tsx
  app/views/shared/components/AppLayout.tsx
Due: bin/fmt, bin/lint

Correct resume.json
  app/controllers/resume_controller.rb
Due: bin/fmt, bin/lint

Remove extraneous HomePageQuery
  Procfile.dev
  app/controllers/home_controller.rb
  app/packs/generated/DownloadResumePDFButton.jsx
  app/packs/generated/ResumeLayout.jsx
  app/packs/server-bundle-generated.js
  app/views/home/components/HomePage.tsx
  app/views/home/queries/HomePageQuery.graphql
  app/views/shared/helpers/apollo-generated.ts
Due: bin/fmt, bin/lint

Add some meta tags to spice things up a little bit
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/home/components/HomePage.tsx
  app/views/layouts/application.html.erb
  app/views/shared/components/AppHeader.tsx
  config/initializers/healthcheck.rb
Due: bin/fmt, bin/lint

Update resume PDF
  public/resume.pdf
Due: none

Remove better errors
  Gemfile
  app/views/home/components/HomePage.tsx
  app/views/resume/components/DownloadResumePDFButton.tsx
  app/views/work/components/WorkPage.tsx
  config/initializers/better_errors.rb
  itskai.code-workspace
  lib/better_errors_ext.rb
Due: bin/fmt, bin/lint

Add website card to projects section
  Gemfile.lock
  app/views/home/components/HomePage.tsx
  app/views/work/components/WorkPage.tsx
  config/routes.rb
  config/webpack/commonWebpackConfig.js
  typings/auto-imports.d.ts
Due: bin/fmt, bin/lint

Update resume based on feedback from Atticus
  app/views/resume/components/ResumeEducationSection.tsx
  app/views/resume/components/ResumePage.tsx
  app/views/resume/components/ResumeSkillsSection.tsx
  app/views/resume/components/ResumeWorkSection.tsx
  config/resume.yml
  public/resume.pdf
Due: bin/fmt, bin/lint

Fix broken anchor on work page
  app/views/work/components/WorkPage.tsx
Due: bin/fmt, bin/lint

Updated Resume based on feedback from Charles' partner
  app/graphql/types/validation_error_type.rb
  app/views/resume/components/ResumeEducationSection.tsx
  app/views/resume/components/ResumePage.tsx
  app/views/resume/components/ResumeSkillsSection.tsx
  app/views/resume/components/ResumeWorkSection.tsx
  config/resume.yml
  public/resume.pdf
Due: bin/fmt, bin/lint

Update resume (fix typo)
  config/resume.yml
  public/resume.pdf
Due: bin/fmt

Can't stop won't stop updating my resume
  app/views/resume/components/ResumeEducationSection.tsx
  app/views/resume/components/ResumePage.tsx
  config/resume.yml
  public/resume.pdf
  typings/auto-imports.d.ts
Due: bin/fmt, bin/lint

Use 'async' adapter for ActionCable in production
  app/components/TestForm.tsx
  app/helpers/apollo/link.ts
  app/helpers/cable.ts
  config/cable.yml
Due: bin/fmt, bin/lint

Refactors and nitpicks
  .eslintrc.json
  app/components/ApolloProvider.tsx
  app/components/AppLayout.tsx
  app/components/AppProgress.tsx
  app/components/AppProviders.tsx
  app/components/Head.tsx
  app/components/MantineProvider.tsx
  app/components/PageHeader.tsx
  app/components/ResumeButton.tsx
  app/components/ResumeEducationSection.tsx
  app/components/ResumeLayout.tsx
  app/components/ResumePDFDownloadButton.tsx
  app/components/ResumeSkillsSection.tsx
  app/components/ResumeWorkSection.tsx
  app/components/TestFeed.tsx
  app/components/TestForm.tsx
  app/components/WebsiteBadge.tsx
  app/components/WorkContactButton.tsx
  app/helpers/inertia.tsx
  app/pages/HomePage.tsx
  app/pages/ResumePage.tsx
  app/pages/TestPage.tsx
  typings/inertia.d.ts
Due: bin/fmt, bin/lint

Correct logo path in default meta tags
  app/views/layouts/application.html.erb
  public/logo-square.png
Due: none

Show banner as opengraph image; add site footer
  app/assets/images/logo-circle.png
  app/assets/images/logo.png
  app/components/AppFooter.tsx
  app/components/AppHeader.tsx
  app/components/AppLayout.tsx
  app/pages/HomePage.tsx
  app/views/layouts/application.html.erb
  public/banner.png
Due: bin/fmt, bin/lint

Change SSR entrypoint filename
  app/ssr/application.tsx
  config/vite.json
Due: bin/fmt, bin/lint

Configure JS from routes
  .prettierignore
  Gemfile
  Gemfile.lock
  config/initializers/js_from_routes.rb
  config/routes.rb
  package.json
  sorbet/rbi/gems/js_from_routes@2.0.6.rbi
  yarn.lock
Due: bin/fmt, bin/lint
