Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

Use PageProps helper
  app/helpers/inertia/index.ts
  app/helpers/inertia/page.ts
  app/models/user.rb
  app/pages/ErrorPage.tsx
  app/pages/HomePage.tsx
  app/pages/ObsidianNotePage.tsx
  app/pages/ResumePage.tsx
  app/pages/TestPage.tsx
  app/pages/UserChangePasswordPage.tsx
  app/pages/UserLoginPage.tsx
  app/pages/UserRegisterPage.tsx
  app/pages/UserSendEmailVerificationInstructionsPage.tsx
  app/pages/UserSendPasswordResetInstructionsPage.tsx
  app/pages/UserSettingsPage.tsx
  app/pages/WorkPage.tsx
Due: bin/fmt, bin/lint

Remove unused dependency
  app/components/ObsidianNoteContent.tsx
  package.json
  typings/remark-wiki-link-plus.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Fix user-email-already-verified checking logic
  app/graphql/mutations/user_send_email_verification_instructions.rb
Due: bin/fmt, bin/lint

Correctly handle missing records in dataloader
  app/graphql/sources/record_by_gid.rb
  app/graphql/sources/record_by_id.rb
Due: bin/fmt, bin/lint

Correct mutation resolution handling
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/icloud_credentials_update.rb
  app/graphql/mutations/icloud_credentials_verify_security_code.rb
  app/graphql/mutations/obsidian_note_synchronize.rb
  app/graphql/mutations/test_mutation.rb
  app/graphql/mutations/user_send_email_verification_instructions.rb
  app/graphql/mutations/user_send_password_reset_instructions.rb
  app/graphql/subscriptions/base_subscription.rb
  app/graphql/types/base_object.rb
  sorbet/rbi/shims/app/graphql/mutations/base_mutation.rbi
  sorbet/rbi/shims/app/graphql/subscriptions/base_subscription.rbi
Due: bin/fmt, bin/lint

Add ActionPolicy rule aliases
  app/graphql/mutations/icloud_credentials_update.rb
  app/graphql/mutations/icloud_credentials_verify_security_code.rb
  app/policies/application_policy.rb
Due: bin/fmt, bin/lint

Update Devise sign-in flash message
  app/views/layouts/application.html.erb
  config/locales/devise.en.yml
  lib/devise_ext.rb
Due: bin/fmt, bin/lint

Accept inputContainer prop on PasswordWithStrengthCheckInput
  app/components/PasswordWithStrengthCheckInput.tsx
Due: bin/fmt, bin/lint

Nitpicks :)
  .env.example
Due: none

Redirect from www. to .
  config/routes.rb
Due: bin/fmt, bin/lint

Add extension to expose authorization rules
  app/graphql/types/base_interface.rb
  app/graphql/types/obsidian_entry_type.rb
  config/application.rb
  lib/action_policy_ext.rb
  sorbet/rbi/dsl/users/registrations_controller.rbi
  sorbet/rbi/dsl/users/sessions_controller.rbi
  sorbet/rbi/shims/app/graphql/types/base_interface.rbi
  sorbet/rbi/shims/lib/action_policy.rbi
Due: bin/fmt, bin/lint

Disable dumb Rubocop rules
  .rubocop.yml
  app/graphql/types/query_type.rb
Due: bin/fmt, bin/lint

Nitpicks :)
  app/controllers/errors_controller.rb
  app/controllers/notify_controller.rb
  app/controllers/resume_controller.rb
  app/controllers/test_controller.rb
  app/graphql/queries/resume.rb
  app/models/eventqr.rb
  app/models/icloud_credentials.rb
  app/models/input_field_error.rb
  app/models/input_field_errors.rb
  app/models/oauth_credentials.rb
  app/models/obsidian_note.rb
  app/models/obsidian_relation.rb
  app/models/obsidian_stub.rb
  app/models/test_model.rb
  app/models/user.rb
  app/services/activity_status.rb
  app/services/currently_playing.rb
  app/services/icloud.rb
  app/services/icloud/client.rb
  app/services/icloud/drive.rb
  app/services/icloud/drive/node.rb
  app/services/linear.rb
  app/services/notifi.rb
  app/services/obsidian.rb
  app/services/qr_code_generator.rb
  app/services/resume.rb
  app/services/spotify.rb
  bin/lint
  config/initializers/services.rb
Due: bin/fmt, bin/lint

Nitpicks
  app/models/application_model.rb
  app/models/application_record.rb
  app/models/concerns/discardable.rb
  app/models/concerns/friendly_identifiable.rb
  app/models/concerns/identifiable.rb
  app/models/concerns/named.rb
  app/models/concerns/obsidian_entry.rb
  app/models/concerns/slugged.rb
  app/models/eventqr/event.rb
  app/models/icloud_credentials.rb
  app/models/oauth_credentials.rb
  app/models/obsidian_note.rb
  app/models/obsidian_relation.rb
  app/models/obsidian_stub.rb
  app/models/user.rb
  sorbet/rbi/shims/app/models/concerns/friendly_identifiable.rbi
Due: bin/fmt, bin/lint

Render plain text errors for non-HTML requests
  app/channels/graphql_channel.rb
  app/controllers/concerns/graphql/querying.rb
  app/controllers/errors_controller.rb
  lib/graphql_ext/connections.rb
Due: bin/fmt, bin/lint

Downgrade Vite to version 3 (see: https://github.com/ElMassimo/vite_ruby/issues/333)
  Gemfile.lock
  README.md
  package.json
  yarn.lock
Due: bin/fmt

Add __typename to GraphQL::Queries field selections
  app/components/UserRegisterPageForm.tsx
  app/helpers/types/.keep
  app/mailers/test_mailer.rb
  app/pages/UserRegisterPage.tsx
  bin/setup
  lib/graphql_ext/queries.rb
Due: bin/fmt, bin/lint

Update Vite config
  config/vite.json
  vite.config.ts
Due: bin/fmt, bin/lint

Upgrade Node version
  .node-version
  Dockerfile
  lib/tasks/fly.rake
Due: none

Add helper for showing domain in email templates
  app/controllers/application_controller.rb
  app/helpers/mailer_helper.rb
  app/mailers/application_mailer.rb
  app/policies/application_policy.rb
  app/views/layouts/mailer.html.erb
  config/initializers/default_url_options.rb
Due: bin/fmt, bin/lint

Wrap all pages with PageContainer
  app/components/ApolloProvider.tsx
  app/components/MantineProvider.tsx
  app/components/PageContainer.tsx
  app/components/PageProviders.tsx
  app/entrypoints/application.ts
  app/helpers/inertia/index.ts
  app/helpers/inertia/page.tsx
  app/ssr/application.ts
Due: bin/fmt, bin/lint

Restructure Dockerfile
  .editorconfig
  .vscode/settings.json
  Aptfile
  Dockerfile
  package.json
  yarn.lock
Due: bin/fmt

Fix syntax error
  bin/setup
Due: none

Fix rendering issue with wrapped Pages
  .rubocop.yml
  app/components/PageConsumer.tsx
  app/components/PageContainer.tsx
  app/controllers/concerns/graphql/helpers.rb
  app/helpers/form.ts
  app/helpers/inertia/layout.tsx
  app/helpers/inertia/page.tsx
  app/ssr/application.ts
  package.json
  yarn.lock
Due: bin/fmt, bin/lint

Code cleanup :)
  app/channels/application_cable/connection.rb
  app/concerns/logging.rb
  app/concerns/routing.rb
  app/controllers/concerns/graphql/querying.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/resolver.rb
  app/graphql/subscriptions/base_subscription.rb
  app/graphql/types/base_object.rb
  app/graphql/types/input_field_error_type.rb
  app/graphql/types/oauth_credentials_type.rb
  app/graphql/types/obsidian_note_type.rb
  app/graphql/types/spotify_album_type.rb
  app/graphql/types/spotify_artist_type.rb
  app/graphql/types/spotify_track_type.rb
  app/graphql/types/user_type.rb
  app/helpers/apollo/client.ts
  app/helpers/mailer_helper.rb
  app/models/concerns/obsidian_entry.rb
  lib/graphql_ext/queries.rb
Due: bin/fmt, bin/lint

Fix SSR (revert to @inertiajs/server)
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/index.ts
  app/helpers/luxon.ts
  app/ssr/application.ts
  config/auto-import.ts
  package.json
  typings/auto-import.generated.d.ts
  yarn.lock
Due: bin/fmt, bin/lint

Receive POSTGRES_URL from environment
  fly.toml
Due: none

Use Postgres 15
  docker-compose.yml
Due: bin/fmt

Redeploy on Fly as itskai-app
  fly.toml
Due: none

Run with missing NOTIFY_CREDENTIALS
  app/services/notifi.rb
Due: bin/fmt, bin/lint

Update Procfile
  Procfile
Due: none

Rename repo (itskai.me -> itskai-app)
  README.md
  app/pages/WorkPage.tsx
Due: bin/fmt, bin/lint

Nicer error page
  app/pages/ErrorPage.tsx
Due: bin/fmt, bin/lint

Clean up initializers
  app/graphql/queries/contact_email.rb
  app/models/user.rb
  config/environments/development.rb
  config/initializers/activerecord.rb
  config/initializers/bullet.rb
  config/initializers/honeybadger.rb
  config/initializers/mailjet.rb
  config/initializers/premailer.rb
Due: bin/fmt, bin/lint

Don't show command when running Fly tasks [skip ci]
  lib/tasks/fly.rake
Due: none

Rename 'postgres' to 'db' in docker-compose
  .env.example
  Procfile
  Procfile.dev
  bin/attach
  bin/setup
  config/database.yml
  config/environments/development.rb
  docker-compose.yml
Due: bin/fmt, bin/lint

Rename 'db' back to 'postgres'
  .env.example
  Procfile.dev
  app/components/AppMenu.tsx
  bin/attach
  bin/setup
  config/database.yml
  docker-compose.yml
Due: bin/fmt, bin/lint

Path conditions:
  bin/fmt: any of: *.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}
  bin/lint: any of: *.{rb,rbi,js,jsx,ts,tsx}
