Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

Warn users to open friendship portal on mobile
  app/pages/FriendPage.module.css
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint

Show statuses up to a week old
  app/controllers/friends_controller.rb
Due: bin/fmt, bin/lint

Fix 'hang out w/ kai' button
  app/components/AppMenu.tsx
Due: bin/fmt, bin/lint

Fix serviceWorker not in navigator error
  app/entrypoints/application.tsx
Due: bin/fmt, bin/lint

Correctly handle Spotify lyric 404s
  app/services/spotify_client.rb
Due: bin/fmt, bin/lint

Audit packages
  package-lock.json
Due: bin/fmt

NPM audit fix
  package-lock.json
Due: bin/fmt

Use Rails 8.0 default configuration
  config/application.rb
Due: bin/fmt, bin/lint

Skip server when setting up on CI
  .github/workflows/check.yml
Due: bin/fmt

Stop Postgres if setting up and skipping server
  bin/setup
Due: none

Regenerate route helpers and model types
  app/helpers/routes/generated/Healthcheck/HealthchecksRoutes.ts
  app/helpers/routes/generated/NotionJournalEntriesRoutes.ts
  app/types/generated/AdminFriend.ts
  app/types/generated/Alert.ts
  app/types/generated/ApproximateLocation.ts
  app/types/generated/Cathendant/Memo.ts
  app/types/generated/Coordinates.ts
  app/types/generated/CurrentlyPlaying.ts
  app/types/generated/CurrentlyPlayingMetadata.ts
  app/types/generated/Exploration.ts
  app/types/generated/ExplorationComment.ts
  app/types/generated/File.ts
  app/types/generated/Friend.ts
  app/types/generated/FriendVibecheck.ts
  app/types/generated/ICloudConnection.ts
  app/types/generated/ICloudCredentials.ts
  app/types/generated/Image.ts
  app/types/generated/Location.ts
  app/types/generated/LocationAccess.ts
  app/types/generated/LocationAccessGrant.ts
  app/types/generated/LocationTrailMarker.ts
  app/types/generated/LocationWithTrail.ts
  app/types/generated/LyricLine.ts
  app/types/generated/Noticeable.ts
  app/types/generated/Notification.ts
  app/types/generated/NotionComment.ts
  app/types/generated/NotionJournalEntry.ts
  app/types/generated/NotionJournalEntrySyncResults.ts
  app/types/generated/OAuthConnection.ts
  app/types/generated/OAuthCredentials.ts
  app/types/generated/PushNotification.ts
  app/types/generated/PushSubscriptionRegistration.ts
  app/types/generated/RSpotify/Album.ts
  app/types/generated/RSpotify/Artist.ts
  app/types/generated/RSpotify/Track.ts
  app/types/generated/Status.ts
  app/types/generated/User.ts
Due: bin/fmt, bin/lint

Update Node, Ruby, and Python
  .node-version
  .python-version
  .ruby-version
  Gemfile
  Gemfile.lock
  package-lock.json
  poetry.lock
Due: bin/fmt

Fix deployment
  .github/workflows/deploy.yml
  Dockerfile
  bin/setup
Due: bin/fmt

Include error message when icloudctl fails to get device
  icloudctl.py
Due: none

Use /up for Fly healthcheck endpoint
  fly.toml
Due: none

Remove unneeded dependencies
  Gemfile
  config/application.rb
  lib/actionview_ext.rb
  sorbet/rbi/gems/actionview@8.0.1.rbi
  sorbet/rbi/gems/wrapped_print@0.1.1.rbi
Due: bin/fmt, bin/lint

Update annotations
  Dockerfile
  sorbet/rbi/annotations/actionpack.rbi
  sorbet/rbi/annotations/activejob.rbi
  sorbet/rbi/annotations/activesupport.rbi
  sorbet/rbi/annotations/railties.rbi
Due: bin/fmt, bin/lint

Run db:test:prepare when testing
  Procfile.test
Due: none

Fix Inertia mailer
  Gemfile.lock
  app/helpers/time.ts
  lib/inertia_rails_ext/engine.rb
  lib/inertia_rails_ext/mailer.rb
Due: bin/fmt, bin/lint

Don't show empty Inertia modal
  app/helpers/inertia/setup.ts
Due: bin/fmt, bin/lint

Fix password reset flow
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/helpers/routes/generated/Users/RegistrationsRoutes.ts
  config/routes.rb
Due: bin/fmt, bin/lint

Minor refactors
  app/components/AppHeader.tsx
  app/helpers/pwa.ts
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint

Run Good Job in async mode in production
  config/environments/production.rb
Due: bin/fmt, bin/lint

Remove unused views
  app/views/active_storage/blobs/_blob.html.erb
  app/views/layouts/action_text/contents/_content.html.erb
  sorbet/rbi/shims/lib/actiontext.rbi
Due: bin/fmt, bin/lint

Rescue database setup failure
  bin/setup
Due: none

Add bundler binstub
  Gemfile
  bin/bundle
  lib/tasks/tapioca.rake
  package-lock.json
Due: bin/fmt

Reset login form on sign-in failure
  Gemfile.lock
  lib/custom_devise_failure_app.rb
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Change POSTGRES_USER to supabase_admin
  bin/postgres
  config/database.yml
Due: bin/fmt

Rename authenticate! to user! in policies
  Gemfile.lock
  app/controllers/errors_controller.rb
  app/policies/application_policy.rb
  app/policies/notification_policy.rb
  app/policies/user_policy.rb
  app/serializers/user_serializer.rb
  db/schema.rb
  package-lock.json
  package.json
  sorbet/tapioca/config.yml
Due: bin/fmt, bin/lint

Remove .husky from ignore files
  .dockerignore
  .prettierignore
  .rubocop.yml
  pyproject.toml
  sorbet/config
  vite.config.ts
Due: bin/fmt, bin/lint

Use expect() instead of require().permit()
  app/controllers/admin/friends_controller.rb
  app/controllers/admin/icloud_connections_controller.rb
  app/controllers/admin/statuses_controller.rb
  app/controllers/cathendant/memos_controller.rb
  app/controllers/friends_controller.rb
  app/controllers/locations_controller.rb
  app/controllers/notion_journal_entry_comments_controller.rb
  app/controllers/password_strength_checks_controller.rb
  app/controllers/push_subscriptions_controller.rb
  app/controllers/test_controller.rb
  app/controllers/users/registrations_controller.rb
Due: bin/fmt, bin/lint

New and improved form helpers
  app/helpers/fetch/form.tsx
  app/helpers/fetch/index.ts
  app/helpers/inertia/form.tsx
  app/helpers/inertia/index.ts
Due: bin/fmt, bin/lint

Update brakeman
  Gemfile.lock
  app/helpers/fetch/form.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Fix SQL injection warnings
  app/controllers/push_subscriptions_controller.rb
Due: bin/fmt, bin/lint

Form helper fixes
  app/controllers/push_subscriptions_controller.rb
  app/helpers/fetch/form.tsx
  app/helpers/fetch/index.ts
  app/helpers/inertia/form.tsx
  app/helpers/inertia/index.ts
  app/pages/LoginPage.tsx
Due: bin/fmt, bin/lint

Prevent pushes only on high-risk package concerns
  lefthook.yml
  package-lock.json
Due: bin/fmt

Path conditions:
  bin/fmt: any of: *.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}
  bin/lint: any of: *.{rb,rbi,js,jsx,ts,tsx}
