Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Refactor ImageInput css
  app/components/ImageInput.module.css
  app/components/ImageInput.tsx
Due: bin/fmt, bin/lint

Miscellaneous refactors
  app/helpers/authentication.ts
Due: bin/fmt, bin/lint

Fix test command
  .github/workflows/check.yml
  Procfile.test
  bin/test
  package-lock.json
Due: bin/fmt

Keep .keeps in tmp
  .dockerignore
  .github/workflows/check.yml
  .gitignore
  bin/dev
  bin/mailcatcher
  bin/postgres
  bin/test
Due: bin/fmt

Make sure toasts are safe area visible
  app/components/Toaster.module.css
  app/pages/HomePage.tsx
Due: bin/fmt, bin/lint

Update Mantine theme
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Guard GoodJob using policy
  app/models/concerns/admins_only.rb
  config/initializers/good_job.rb
  config/routes.rb
Due: bin/fmt, bin/lint

Fix GoodJob login
  app/components/ChangePasswordPageForm.tsx
  app/components/LoginPageForm.tsx
  app/components/SignupPageForm.tsx
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/inertia/index.ts
  app/helpers/inertia/setup.ts
  app/helpers/routes/index.ts
  app/policies/application_policy.rb
  config/auto-import.ts
  config/initializers/good_job.rb
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Fix deprecated usage of CSSParser::RuleSet
  app/ssr/ssr.tsx
  lib/css_parser_ext.rb
  lib/premailer_ext.rb
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Fix requires
  lib/css_parser_ext.rb
  lib/premailer_ext.rb
Due: bin/fmt, bin/lint

Redesign header, stylistic refactors
  .env.example
  app/components/AccountPageDeleteAccountForm.tsx
  app/components/AccountPagePasswordForm.tsx
  app/components/AdminICloudDisconnectButton.tsx
  app/components/AdminICloudVerifySecurityCodeForm.tsx
  app/components/AdminLocationAccessGrantCard.tsx
  app/components/AdminLocationLogsBackfillAddressesButtons.tsx
  app/components/AdminOAuthDisconnectButton.tsx
  app/components/AdminStatusCard.tsx
  app/components/AnchorContainer.module.css
  app/components/AppHeader.module.css
  app/components/AppHeader.tsx
  app/components/AppLayout.module.css
  app/components/AppLayout.tsx
  app/components/AppMantineProvider.tsx
  app/components/AppSidebar.module.css
  app/components/AppSidebar.tsx
  app/components/Attribution.tsx
  app/components/ChangePasswordPageForm.tsx
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/DeleteButton.tsx
  app/components/EmailMantineProvider.tsx
  app/components/EmptyCard.module.css
  app/components/EmptyCard.tsx
  app/components/ExplorationBadge.tsx
  app/components/LoginPageForm.tsx
  app/components/NotionJournalEntryCard.tsx
  app/components/SignupPageForm.tsx
  app/helpers/mantine.css
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
  app/pages/ErrorPage.tsx
  app/pages/LocatePage.module.css
  config/application.rb
  config/environments/development.rb
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Upgrade vite_ruby
  Gemfile.lock
  package-lock.json
  sorbet/rbi/gems/brakeman@7.0.0.rbi
  sorbet/rbi/gems/erubi@1.13.1.rbi
  sorbet/rbi/gems/logger@1.6.6.rbi
  sorbet/rbi/gems/loofah@2.24.0.rbi
  sorbet/rbi/gems/mini_portile2@2.8.8.rbi
  sorbet/rbi/gems/mutex_m@0.3.0.rbi
  sorbet/rbi/gems/nokogiri@1.18.3.rbi
  sorbet/rbi/gems/pry@0.15.2.rbi
  sorbet/rbi/gems/rack-session@2.1.0.rbi
  sorbet/rbi/gems/rack-test@2.2.0.rbi
  sorbet/rbi/gems/rack@3.1.11.rbi
  sorbet/rbi/gems/rackup@2.2.1.rbi
  sorbet/rbi/gems/rails-html-sanitizer@1.6.2.rbi
  sorbet/rbi/gems/rdoc@6.12.0.rbi
  sorbet/rbi/gems/stringio@3.1.5.rbi
  sorbet/rbi/gems/uri@1.0.3.rbi
  sorbet/rbi/gems/vite_ruby@3.9.1.rbi
  sorbet/rbi/gems/zeitwerk@2.7.2.rbi
Due: bin/fmt, bin/lint

Ignore 'Module level directives cause errors when bundled' warning
  Gemfile
  vite.config.ts
Due: bin/fmt, bin/lint

Use build stage to reduce final image size
  Dockerfile
  Gemfile.lock
  package-lock.json
  package.json
  vite.config.ts
Due: bin/fmt, bin/lint

Inertia patch upgrade
  package-lock.json
  package.json
Due: bin/fmt

Minor refactors
  .dockerignore
  lib/assets/.keep
Due: none

Upgrade poetry config
  poetry.lock
  pyproject.toml
Due: none

Lazy-load locate page map
  Dockerfile
  Gemfile.lock
  app/helpers/mantine.ts
  app/pages/LocatePage.tsx
Due: bin/fmt, bin/lint

Cool magical header color-bending
  app/components/AppLayout.module.css
Due: bin/fmt

Logo button should stay on friend page when applicable
  app/components/AppHeader.tsx
  app/components/AppLayout.tsx
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint

New header font, this site is dolled upppp
  app/components/AdminStatusCard.tsx
  app/components/AppHeader.module.css
  app/components/AppLayout.module.css
  app/components/AppMenu.module.css
  app/components/AppMenu.tsx
  app/components/AppSidebar.module.css
  app/components/ApproximateLocationAlert.tsx
  app/components/Attribution.module.css
  app/components/Attribution.tsx
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.module.css
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/FriendTimeline.tsx
  app/components/PageLayout.tsx
  app/controllers/spotify_jam_sessions_controller.rb
  app/helpers/mantine.css
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
  app/pages/AccountPage.tsx
  app/pages/AdminExplorationCommentsPage.tsx
  app/pages/AdminFriendsPage.tsx
  app/pages/AdminSettingsPage.tsx
  app/pages/FriendPage.tsx
  app/pages/HomePage.tsx
  app/pages/LocatePage.module.css
  app/pages/LocatePage.tsx
  package-lock.json
  package.json
Due: bin/fmt, bin/lint

Close app menu on item click
  app/components/AppHeader.module.css
  app/components/AppHeader.tsx
  app/components/AppLayout.module.css
  app/components/AppMenu.module.css
  app/components/AppMenu.tsx
  app/helpers/contact.tsx
Due: bin/fmt, bin/lint

Use regular font on exploration badges
  app/components/ExplorationBadge.module.css
  app/components/ExplorationBadge.tsx
Due: bin/fmt, bin/lint

Reset status, friend forms on success
  app/components/AdminFriendForm.tsx
  app/components/AdminStatusForm.tsx
Due: bin/fmt, bin/lint

Minor improvements
  .gitignore
  app/controllers/application_controller.rb
  app/helpers/form.tsx
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
  lib/admin.rb
  lib/friendly_id_ext.rb
  lib/owner.rb
Due: bin/fmt, bin/lint

Auto-reload CSRF on failure
  app/helpers/csrf.ts
  app/helpers/routes/fetch.ts
  app/helpers/routes/swr.tsx
  tsconfig.service-worker.json
Due: bin/fmt, bin/lint

Create Sentry release after deploying
  .github/workflows/deploy.yml
Due: bin/fmt

Manually pass currentUser around
  app/components/AccountPageEmailForm.tsx
  app/components/AccountPageProfileForm.tsx
  app/helpers/authentication.ts
  app/helpers/inertia/page/index.tsx
  app/pages/AccountPage.tsx
  config/auto-import.ts
  typings/generated/auto-import.d.ts
Due: bin/fmt, bin/lint

Fix currently playing island styles
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/components/ImageInput.tsx
  app/helpers/routes/fetch.ts
Due: bin/fmt, bin/lint

Update sp_dc
  config/credentials.yml.enc
  config/credentials/production.yml.enc
Due: none

Add scottickers page
  .github/workflows/deploy.yml
  app/components/AdminStatusCard.tsx
  app/components/AdminStatusForm.tsx
  app/components/CurrentlyPlayingIsland.module.css
  app/components/CurrentlyPlayingIsland.tsx
  app/components/CurrentlyPlayingLyricsTooltip.tsx
  app/components/FriendTimeline.tsx
  app/components/ImageInput.tsx
  app/controllers/scottickers_controller.rb
  app/helpers/routes/generated/ScottickersRoutes.ts
  app/helpers/routes/generated/all.ts
  app/helpers/scottickers.ts
  app/helpers/upload.tsx
  app/models/scotticker.rb
  app/pages/ScottickersPage.module.css
  app/pages/ScottickersPage.tsx
  app/serializers/image_serializer.rb
  app/serializers/scotticker_serializer.rb
  app/types/Dimensions.ts
  app/types/generated/Image.ts
  app/types/generated/Scotticker.ts
  app/types/generated/index.ts
  app/types/index.ts
  config/routes.rb
  db/migrate/20250420223117_create_scottickers.rb
  db/schema.rb
  package-lock.json
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/scotticker.rbi
Due: bin/fmt, bin/lint

Use dark mode on Scottickers page
  app/controllers/scottickers_controller.rb
  app/pages/ScottickersPage.tsx
Due: bin/fmt, bin/lint

Fix copy image on Scottickers page
  app/pages/ScottickersPage.module.css
  app/pages/ScottickersPage.tsx
Due: bin/fmt, bin/lint

Order Scotts by name
  app/controllers/scottickers_controller.rb
Due: bin/fmt, bin/lint

Force render Scottickers with dark color scheme
  app/pages/ScottickersPage.tsx
Due: bin/fmt, bin/lint

Add outline to sticker
  app/pages/ScottickersPage.tsx
Due: bin/fmt, bin/lint

Add new Scotticker creation instructions
  app/pages/ScottickersPage.tsx
Due: bin/fmt, bin/lint
