Repository hulloitskai/itskai: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/fmt, bin/lint

.lintstagedrc.json:

{
  "*.{rb,rbi,js,jsx,ts,tsx,css,md,html,json,yaml,yml}": "bin/fmt",
  "*.{rb,rbi,js,jsx,ts,tsx}": "bin/lint"
}

Fix typings
  lib/inertia_rails_ext.rb
  lib/inertia_rails_ext/mailer.rb
  sorbet/rbi/dsl/actual_db_schema/migrations_controller.rbi
  sorbet/rbi/dsl/actual_db_schema/phantom_migrations_controller.rbi
  sorbet/rbi/dsl/application_controller.rbi
  sorbet/rbi/dsl/devise_controller.rbi
  sorbet/rbi/dsl/good_job/application_controller.rbi
  sorbet/rbi/dsl/good_job/frontends_controller.rbi
  sorbet/rbi/dsl/healthcheck/healthchecks_controller.rbi
  sorbet/rbi/dsl/rails/conductor/base_controller.rbi
Due: bin/fmt, bin/lint

Auto-link links in statuses
  app/components/AdminStatusCard.module.css
  app/components/AdminStatusCard.tsx
  app/components/FriendTimeline.module.css
  app/components/FriendTimeline.tsx
Due: bin/fmt, bin/lint

Better header spacing when standalone
  app/components/AppHeader.tsx
Due: bin/fmt, bin/lint

Enable custom vibes on friend vibecheck
  app/components/AdminFriendForm.tsx
  app/components/AdminStatusForm.tsx
  app/components/EmojiPopover.tsx
  app/components/FriendVibecheckModal.module.css
  app/components/FriendVibecheckModal.tsx
  app/controllers/friends_controller.rb
  app/pages/FriendPage.tsx
  app/serializers/friend_vibecheck_serializer.rb
  app/types/generated/FriendVibecheck.ts
  app/types/generated/index.ts
Due: bin/fmt, bin/lint

Update app layout styles
  app/components/AppLayout.module.css
  app/components/AppLayout.tsx
Due: bin/fmt, bin/lint

Currently playing island show tooltip on bottom
  app/components/CurrentlyPlayingIsland.tsx
Due: bin/fmt, bin/lint

Load stackprof in production
  Gemfile
Due: none

Fix emoji popover; remove actor_id cookie
  app/components/EmojiPopover.tsx
  app/controllers/application_controller.rb
Due: bin/fmt, bin/lint

Install setuptools on Docker
  Dockerfile
Due: none

Make drawers safe-area friendly
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
Due: bin/fmt, bin/lint

Include dependency on setuptools
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Don't create Poetry virtualenvs in production
  Dockerfile
Due: none

Stylistic changes
  app/components/AdminFriendForm.tsx
Due: bin/fmt, bin/lint

Handle auto-unsubscribed push notifications
  app/components/FriendPushNotificationsButton.tsx
  app/components/WebPushProvider.tsx
  app/helpers/webPush.ts
Due: bin/fmt, bin/lint

Use canary deploys because bluegreen healthchecks are down
  .github/workflows/deploy.yml
Due: bin/fmt

Allow re-subscribing to same push endpoint
  app/controllers/push_subscriptions_controller.rb
Due: bin/fmt, bin/lint

Don't show badge when pushing test notifications
  app/models/push_subscription.rb
  app/models/status.rb
  app/workers/service-worker.ts
Due: bin/fmt, bin/lint

Collapse big statuses
  app/components/AdminStatusForm.tsx
  app/components/FriendTimeline.module.css
  app/components/FriendTimeline.tsx
Due: bin/fmt, bin/lint

Simple image uploads on statuses
  app/components/AdminStatusCard.tsx
  app/components/AdminStatusForm.module.css
  app/components/AdminStatusForm.tsx
  app/components/FriendTimeline.tsx
  app/controllers/admin/statuses_controller.rb
  app/models/status.rb
  app/serializers/status_serializer.rb
  app/types/generated/Status.ts
Due: bin/fmt, bin/lint

Show vibechecks in friends view
  app/components/FriendVibecheckModal.tsx
  app/controllers/admin/friends_controller.rb
  app/models/admin_friend.rb
  app/pages/AdminFriendsPage.tsx
  app/serializers/admin_friend_serializer.rb
  app/types/generated/AdminFriend.ts
  app/types/generated/Healthcheck.ts
Due: bin/fmt, bin/lint

New days start at 5AM; better safe area handling
  app/components/AdminStatusCard.module.css
  app/components/AdminStatusCard.tsx
  app/components/AdminStatusForm.module.css
  app/components/AppMantineProvider.tsx
  app/components/AppNavProgress.module.css
  app/components/EmailMantineProvider.tsx
  app/components/FriendVibecheckModal.tsx
  app/controllers/admin/friends_controller.rb
  app/helpers/mantine.css
  app/helpers/mantine.module.css
  app/helpers/mantine.ts
  app/helpers/safeArea.ts
  app/helpers/time.ts
  app/models/admin_friend.rb
  app/pages/AdminFriendsPage.tsx
  app/views/layouts/application.html.erb
Due: bin/fmt, bin/lint

Go back to bluegreen deploys; increase memory
  .github/workflows/deploy.yml
Due: bin/fmt

Fix SSR issues with useLazyUpload
  app/helpers/upload.tsx
Due: bin/fmt, bin/lint

Fix styling
  app/components/AppNavProgress.module.css
Due: bin/fmt

Only calculate safe area viewport on mobile
  app/helpers/mantine.css
  app/helpers/safeArea.css
  app/helpers/safeArea.ts
Due: bin/fmt, bin/lint

Refactoring is my passion
  app/helpers/safeArea.ts
Due: bin/fmt, bin/lint

Only show friends with notifications enabled in notify form
  app/components/AdminStatusCard.tsx
Due: bin/fmt, bin/lint

Remove same-site attribute from cookies
  config/application.rb
  config/initializers/devise.rb
Due: bin/fmt, bin/lint

Don't collapse whitespaces
  app/components/AdminStatusCard.tsx
  app/components/FriendTimeline.tsx
  app/pages/AdminExplorationCommentsPage.tsx
Due: bin/fmt, bin/lint

Mark 'export' as an internal param
  config/initializers/js_from_routes.rb
Due: bin/fmt, bin/lint

Increase grace period to allow for longer app boot time
  fly.toml
Due: none

Upgrade Good Job
  Gemfile
  Gemfile.lock
  db/migrate/20250116180752_add_jobs_finished_at_to_good_job_batches.rb
Due: bin/fmt, bin/lint

Re-implement Notion comments
  app/components/AdminStatusCard.module.css
  app/components/FriendTimeline.module.css
  app/components/HomePageJournalEntry.tsx
  app/components/NotionJournalEntryCard.tsx
  app/components/NotionJournalEntryCommentsStack.module.css
  app/components/NotionJournalEntryCommentsStack.tsx
  app/controllers/notion_journal_entries_controller.rb
  app/controllers/notion_journal_entry_comments_controller.rb
  app/helpers/routes/generated/NotionJournalEntryCommentsRoutes.ts
  app/helpers/routes/generated/all.ts
  app/pages/HomePage.tsx
  app/serializers/notion_journal_entry_serializer.rb
  app/types/generated/NotionJournalEntry.ts
  config/routes.rb
  db/schema.rb
Due: bin/fmt, bin/lint

Cap status text length in notifications and responses
  app/components/FriendTimeline.tsx
  app/models/status.rb
Due: bin/fmt, bin/lint

Auto re-register push notifications on friendship portal
  app/components/FriendPushNotificationsButton.tsx
Due: bin/fmt, bin/lint

Refactor web push helper
  app/helpers/webPush.ts
Due: bin/fmt, bin/lint

Hide vibecheck modal if push subscriptions disabled
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint

Auto-scroll to timeline item referenced by notification
  app/components/FriendTimeline.tsx
  app/controllers/friends_controller.rb
  app/models/concerns/noticeable.rb
  app/models/exploration_comment.rb
  app/models/notification.rb
  app/models/status.rb
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint

Simplify CSS
  app/components/AdminStatusCard.module.css
  app/components/AdminStatusCard.tsx
  app/components/AppMenu.module.css
  app/components/AppMenu.tsx
  app/components/EmojiPicker.module.css
  app/components/ExplorationBadge.module.css
  app/components/FriendTimeline.module.css
  app/components/FriendTimeline.tsx
  app/components/ImageInput.module.css
  app/components/ImageInput.tsx
  app/components/LocationAccessForm.module.css
  app/components/LocationAccessForm.tsx
  app/components/NotionJournalEntryCommentsStack.module.css
  app/components/NotionJournalEntryCommentsStack.tsx
  app/pages/LocatePage.module.css
  app/pages/LocatePage.tsx
Due: bin/fmt, bin/lint

Show loader while determining standalone mode
  app/pages/FriendPage.tsx
Due: bin/fmt, bin/lint
